In [92]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 결측치 시각화를 위한 라이브러리
import missingno

In [94]:
# parquet 파일 데이터를 읽어온다.
df1 = pd.read_parquet('open/train/1.회원정보/201807_train_회원정보.parquet')
df1

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,201807,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,34
399996,201807,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),19
399997,201807,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,13
399998,201807,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),22
399999,201807,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),13

### 기본적인 데이터 확인

In [96]:
# 데이터의 크기를 확인한다.
df1.shape

(400000, 78)

### 결측치 확인

In [99]:
# 결측치가 있는 컬럼을 확인한다.

na_box = []

for idx, val in df1.isnull().sum().items() :
    print(f'{idx}의 결측치 : {val}')
    if val > 0 :
        na_box.append(idx)

기준년월의 결측치 : 0
ID의 결측치 : 0
남녀구분코드의 결측치 : 0
연령의 결측치 : 0
Segment의 결측치 : 0
회원여부_이용가능의 결측치 : 0
회원여부_이용가능_CA의 결측치 : 0
회원여부_이용가능_카드론의 결측치 : 0
소지여부_신용의 결측치 : 0
소지카드수_유효_신용의 결측치 : 0
소지카드수_이용가능_신용의 결측치 : 0
입회일자_신용의 결측치 : 0
입회경과개월수_신용의 결측치 : 0
회원여부_연체의 결측치 : 0
이용거절여부_카드론의 결측치 : 0
동의여부_한도증액안내의 결측치 : 0
수신거부여부_TM의 결측치 : 0
수신거부여부_DM의 결측치 : 0
수신거부여부_메일의 결측치 : 0
수신거부여부_SMS의 결측치 : 0
가입통신회사코드의 결측치 : 67364
탈회횟수_누적의 결측치 : 0
최종탈회후경과월의 결측치 : 0
탈회횟수_발급6개월이내의 결측치 : 0
탈회횟수_발급1년이내의 결측치 : 0
거주시도명의 결측치 : 0
직장시도명의 결측치 : 40807
마케팅동의여부의 결측치 : 0
유효카드수_신용체크의 결측치 : 0
유효카드수_신용의 결측치 : 0
유효카드수_신용_가족의 결측치 : 0
유효카드수_체크의 결측치 : 0
유효카드수_체크_가족의 결측치 : 0
이용가능카드수_신용체크의 결측치 : 0
이용가능카드수_신용의 결측치 : 0
이용가능카드수_신용_가족의 결측치 : 0
이용가능카드수_체크의 결측치 : 0
이용가능카드수_체크_가족의 결측치 : 0
이용카드수_신용체크의 결측치 : 0
이용카드수_신용의 결측치 : 0
이용카드수_신용_가족의 결측치 : 0
이용카드수_체크의 결측치 : 0
이용카드수_체크_가족의 결측치 : 0
이용금액_R3M_신용체크의 결측치 : 0
이용금액_R3M_신용의 결측치 : 0
이용금액_R3M_신용_가족의 결측치 : 0
이용금액_R3M_체크의 결측치 : 0
이용금액_R3M_체크_가족의 결측치 : 0
_1순위카드이용금액의 결측치 : 0
_1순위카드이용건수의 결측치 : 0
_1순위신용체크구분의 결측치 : 2147
_2순위카드이용금액의 결측치 : 0
_2순위카드이용건수의 결측치 : 0
_2순위신용체크구분의 결측치 : 157866
최종유효년월_신용_이용가능의 결측치 : 32828
최종유효년월_신용_이용의 결측치 : 79318
최종카드발급일자의 결측치 : 3007
보유여부_해외겸용_본인의 결측치 : 0
이용가능여부_해외겸용_본인의 결측치 : 0
이용여부_3M_해외겸용_본인의 결측치 : 0
보유여부_해외겸용_신용_본인의 결측치 : 0
이용가능여부_해외겸용_신용_본인의 결측치 : 0
이용여부_3M_해외겸용_신용_본인의 결측치 : 0
연회비발생카드수_B0M의 결측치 : 0
연회비할인카드수_B0M의 결측치 : 0
기본연회비_B0M의 결측치 : 0
제휴연회비_B0M의 결측치 : 0
할인금액_기본연회비_B0M의 결측치 : 0
할인금액_제휴연회비_B0M의 결측치 : 0
청구금액_기본연회비_B0M의 결측치 : 0
청구금액_제휴연회비_B0M의 결측치 : 0
상품관련면제카드수_B0M의 결측치 : 0
임직원면제카드수_B0M의 결측치 : 0
우수회원면제카드수_B0M의 결측치 : 0
기타면제카드수_B0M의 결측치 : 0
카드신청건수의 결측치 : 0
Life_Stage의 결측치 : 0
최종카드발급경과월의 결측치 : 0

In [101]:
# 결측치가 있는 칼럼들
na_box

['가입통신회사코드',
 '직장시도명',
 '_1순위신용체크구분',
 '_2순위신용체크구분',
 '최종유효년월_신용_이용가능',
 '최종유효년월_신용_이용',
 '최종카드발급일자']

In [103]:
# 결측치가 있는 칼럼의 결측 비율을 확인한다.
df1[na_box].isna().sum() / df1.shape[0]

가입통신회사코드          0.168410
직장시도명             0.102017
_1순위신용체크구분        0.005367
_2순위신용체크구분        0.394665
최종유효년월_신용_이용가능    0.082070
최종유효년월_신용_이용      0.198295
최종카드발급일자          0.007517
dtype: float64

In [105]:
# 각 칼럼의 데이터의 타입을 확인한다.
for idx, val in df1.dtypes.items() :
    print(f'{idx}의 타입 : {val}')

기준년월의 타입 : int64
ID의 타입 : object
남녀구분코드의 타입 : int64
연령의 타입 : object
Segment의 타입 : object
회원여부_이용가능의 타입 : int64
회원여부_이용가능_CA의 타입 : int64
회원여부_이용가능_카드론의 타입 : int64
소지여부_신용의 타입 : int64
소지카드수_유효_신용의 타입 : int64
소지카드수_이용가능_신용의 타입 : int64
입회일자_신용의 타입 : int64
입회경과개월수_신용의 타입 : int64
회원여부_연체의 타입 : int64
이용거절여부_카드론의 타입 : int64
동의여부_한도증액안내의 타입 : int64
수신거부여부_TM의 타입 : int64
수신거부여부_DM의 타입 : int64
수신거부여부_메일의 타입 : int64
수신거부여부_SMS의 타입 : int64
가입통신회사코드의 타입 : object
탈회횟수_누적의 타입 : int64
최종탈회후경과월의 타입 : int64
탈회횟수_발급6개월이내의 타입 : int64
탈회횟수_발급1년이내의 타입 : int64
거주시도명의 타입 : object
직장시도명의 타입 : object
마케팅동의여부의 타입 : int64
유효카드수_신용체크의 타입 : int64
유효카드수_신용의 타입 : int64
유효카드수_신용_가족의 타입 : int64
유효카드수_체크의 타입 : int64
유효카드수_체크_가족의 타입 : int64
이용가능카드수_신용체크의 타입 : int64
이용가능카드수_신용의 타입 : int64
이용가능카드수_신용_가족의 타입 : int64
이용가능카드수_체크의 타입 : int64
이용가능카드수_체크_가족의 타입 : int64
이용카드수_신용체크의 타입 : int64
이용카드수_신용의 타입 : int64
이용카드수_신용_가족의 타입 : int64
이용카드수_체크의 타입 : int64
이용카드수_체크_가족의 타입 : int64
이용금액_R3M_신용체크의 타입 : int64
이용금액_R3M_신용의 타입 : int64
이용금액_R3M_신용_가족의 타입 : int64
이용금액_R3M_체크의 타입 : int64
이용금액_R3M_체크_가족의 타입 : int64
_1순위카드이용금액의 타입 : int64
_1순위카드이용건수의 타입 : int64
_1순위신용체크구분의 타입 : object
_2순위카드이용금액의 타입 : int64
_2순위카드이용건수의 타입 : int64
_2순위신용체크구분의 타입 : object
최종유효년월_신용_이용가능의 타입 : float64
최종유효년월_신용_이용의 타입 : float64
최종카드발급일자의 타입 : float64
보유여부_해외겸용_본인의 타입 : int64
이용가능여부_해외겸용_본인의 타입 : int64
이용여부_3M_해외겸용_본인의 타입 : int64
보유여부_해외겸용_신용_본인의 타입 : int64
이용가능여부_해외겸용_신용_본인의 타입 : int64
이용여부_3M_해외겸용_신용_본인의 타입 : int64
연회비발생카드수_B0M의 타입 : object
연회비할인카드수_B0M의 타입 : int64
기본연회비_B0M의 타입 : int64
제휴연회비_B0M의 타입 : int64
할인금액_기본연회비_B0M의 타입 : int64
할인금액_제휴연회비_B0M의 타입 : int64
청구금액_기본연회비_B0M의 타입 : int64
청구금액_제휴연회비_B0M의 타입 : int64
상품관련면제카드수_B0M의 타입 : object
임직원면제카드수_B0M의 타입 : object
우수회원면제카드수_B0M의 타입 : object
기타면제카드수_B0M의 타입 : object
카드신청건수의 타입 : int64
Life_Stage의 타입 : object
최종카드발급경과월의 타입 : int64

### 데이터 기초통계 확인

In [108]:
# object 타입의 데이터의 분포 확인
df_object = df1.select_dtypes(include = 'object')
df_object.describe(include = 'object')

,ID,연령,Segment,가입통신회사코드,거주시도명,직장시도명,_1순위신용체크구분,_2순위신용체크구분,연회비발생카드수_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,Life_Stage
count,400000,400000,400000,332636,400000,359193,397853,242134,400000,400000,400000,400000,400000,400000
unique,400000,6,5,3,17,17,2,2,2,1,1,1,1,7
top,TRAIN_000000,40대,E,S사,서울,경기,신용,신용,0개,0개,0개,0개,0개,자녀성장(1)
freq,1,122191,320342,165163,113700,99184,385721,148110,395337,400000,400000,400000,400000,132174

In [110]:
df_object.shape

(400000, 14)

In [112]:
# 숫자형 타입의 분포를 획인
df_num = df1.select_dtypes(exclude = 'object')
df_num.describe()

,기준년월,남녀구분코드,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,소지카드수_이용가능_신용,입회일자_신용,입회경과개월수_신용,...,이용여부_3M_해외겸용_신용_본인,연회비할인카드수_B0M,기본연회비_B0M,제휴연회비_B0M,할인금액_기본연회비_B0M,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,카드신청건수,최종카드발급경과월
count,400000.0,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,4.000000e+05,400000.000000,...,400000.000000,400000.0,400000.000000,400000.000000,400000.0,400000.0,400000.000000,400000.000000,400000.000000,400000.000000
mean,201807.0,1.476955,0.957050,0.887640,0.612520,0.992502,1.252465,1.157877,2.012258e+07,71.269397,...,0.566195,0.0,0.731622,1.766240,0.0,0.0,0.731622,1.766240,0.155438,19.347375
std,0.0,0.499469,0.202745,0.315809,0.487175,0.086263,0.547569,0.612808,6.046411e+04,72.395152,...,0.495599,0.0,8.701491,40.912235,0.0,0.0,8.701491,40.912235,0.362322,13.449985
min,201807.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.990110e+07,2.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,201807.0,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.010030e+07,14.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,9.000000
50%,201807.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.014070e+07,49.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,17.000000
75%,201807.0,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.017060e+07,101.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,28.000000
max,201807.0,2.000000,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,2.018060e+07,333.000000,...,1.000000,0.0,111.000000,950.000000,0.0,0.0,111.000000,950.000000,1.000000,62.000000

In [114]:
df_num.shape

(400000, 64)

In [7]:
# 회원정보의 모든 칼럼 보기
for idx, val in enumerate(df1.columns) :
    print(f'{idx} {val}')

0 기준년월
1 ID
2 남녀구분코드
3 연령
4 Segment
5 회원여부_이용가능
6 회원여부_이용가능_CA
7 회원여부_이용가능_카드론
8 소지여부_신용
9 소지카드수_유효_신용
10 소지카드수_이용가능_신용
11 입회일자_신용
12 입회경과개월수_신용
13 회원여부_연체
14 이용거절여부_카드론
15 동의여부_한도증액안내
16 수신거부여부_TM
17 수신거부여부_DM
18 수신거부여부_메일
19 수신거부여부_SMS
20 가입통신회사코드
21 탈회횟수_누적
22 최종탈회후경과월
23 탈회횟수_발급6개월이내
24 탈회횟수_발급1년이내
25 거주시도명
26 직장시도명
27 마케팅동의여부
28 유효카드수_신용체크
29 유효카드수_신용
30 유효카드수_신용_가족
31 유효카드수_체크
32 유효카드수_체크_가족
33 이용가능카드수_신용체크
34 이용가능카드수_신용
35 이용가능카드수_신용_가족
36 이용가능카드수_체크
37 이용가능카드수_체크_가족
38 이용카드수_신용체크
39 이용카드수_신용
40 이용카드수_신용_가족
41 이용카드수_체크
42 이용카드수_체크_가족
43 이용금액_R3M_신용체크
44 이용금액_R3M_신용
45 이용금액_R3M_신용_가족
46 이용금액_R3M_체크
47 이용금액_R3M_체크_가족
48 _1순위카드이용금액
49 _1순위카드이용건수
50 _1순위신용체크구분
51 _2순위카드이용금액
52 _2순위카드이용건수
53 _2순위신용체크구분
54 최종유효년월_신용_이용가능
55 최종유효년월_신용_이용
56 최종카드발급일자
57 보유여부_해외겸용_본인
58 이용가능여부_해외겸용_본인
59 이용여부_3M_해외겸용_본인
60 보유여부_해외겸용_신용_본인
61 이용가능여부_해외겸용_신용_본인
62 이용여부_3M_해외겸용_신용_본인
63 연회비발생카드수_B0M
64 연회비할인카드수_B0M
65 기본연회비_B0M
66 제휴연회비_B0M
67 할인금액_기본연회비_B0M
68 할인금액_제휴연회비_B0M
69 청구금액_기본연회비_B0M
70 청구금액_제휴연회비_B0M
71 상품관련면제카드수_B0M
72 임직원면제카드수_B0M
73 우수회원면제카드수_B0M
74 기타면제카드수_B0M
75 카드신청건수
76 Life_Stage
77 최종카드발급경과월

### 0_기준년월

In [23]:
df1['기준년월'].value_counts()

기준년월
201807    400000
Name: count, dtype: int64

- 모든 값이 201807로 되어 있다.
- 분석에 의미는 없는 것 같다.

### 1_ID

In [129]:
# 데이터
sum(df1['ID'].value_counts() != 1)

0

- ID의 경우에는 분석 및 학습에 도움되지 않는다.
- 단, 제출 시 필요하기 때문에 나중에 변수에 저장해 두자.

### 2_남녀구분코드

In [136]:
df1['남녀구분코드'].value_counts()

남녀구분코드
1    209218
2    190782
Name: count, dtype: int64

- 남/녀 구분이 명세서에 없는 것 같다..
- 일단 두 도수의 분포는 비슷하다. (1에 조금 더 많이 분포하고 있다.)

### 3_연령

In [142]:
df1['연령'].value_counts()

연령
40대      122191
30대       98691
50대       91057
60대       41165
20대       31980
70대이상     14916
Name: count, dtype: int64

- 40대 : 122191
- 30대 : 98691
- 50대 : 91057
- 60대 : 41165
- 20대 : 31980
- 70대이상 : 14916

### 4_Segment (target 변수)

In [156]:
# Segment의 도수분포를 확인한다.
df1['Segment'].value_counts()

Segment
E    320342
D     58207
C     21265
A       162
B        24
Name: count, dtype: int64

In [158]:
# Segment의 각 도수별 데이터의 분포 비율을 확인한다.
df1['Segment'].value_counts()/df1.shape[0]

Segment
E    0.800855
D    0.145517
C    0.053163
A    0.000405
B    0.000060
Name: count, dtype: float64

- E 항목이 압도적으로 큰 불균형 데이터로 보인다.

### 5_회원여부_이용가능

In [163]:
df1['회원여부_이용가능'].value_counts()

회원여부_이용가능
1    382820
0     17180
Name: count, dtype: int64

In [166]:
df1['회원여부_이용가능'].value_counts()/df1.shape[0]

회원여부_이용가능
1    0.95705
0    0.04295
Name: count, dtype: float64

- 17180명의 회원이 블랙리스트로 등록되어 있다. (전체의 약 4%에 해당하는 수)

### 6_회원여부_이용가능_CA

In [170]:
df1['회원여부_이용가능_CA'].value_counts()

회원여부_이용가능_CA
1    355056
0     44944
Name: count, dtype: int64

In [174]:
df1['회원여부_이용가능_CA'].value_counts()/df1.shape[0]

회원여부_이용가능_CA
1    0.88764
0    0.11236
Name: count, dtype: float64

- 현금서비스 이용이 불가능한 회원의 수는 44944 (전체의 약 11%에 해당하는 수)

In [183]:
# 블랙리스트인 회원 중 현금 서비스 이용이 가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(cond1 & cond2)

270

In [185]:
# 블랙리스트가 아닌 회원 중 현금 서비스 이용이 가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(~cond1 & cond2)

354786

In [187]:
# 블랙리스트인 회원 중 현급 서비스 이용이 불가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(cond1 & ~cond2)

16910

In [189]:
# 블랙리스트가 아닌 회원 중 현급 서비스 이용이 불가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(~cond1 & ~cond2)

28034