In [1]:
# 기본 라이브러리 임포트
import pandas as pd             
import numpy as np             
import matplotlib.pyplot as plt 
import seaborn as sns           
import gc                       # 가비지 컬렉션(메모리 해제)
import re                       # 정규 표현식 처리
from collections import defaultdict  # 기본값이 있는 딕셔너리 생성

# 경고 메시지 억제
import warnings
warnings.filterwarnings('ignore')   

# 그래프 스타일 설정
sns.set()                           # seaborn 기본 스타일 적용

# matplotlib 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'  
plt.rcParams['figure.figsize'] = (12, 6)       # 그림 크기 설정 (가로, 세로)
plt.rcParams['font.size'] = 14                 # 폰트 크기 설정
plt.rcParams['axes.unicode_minus'] = False     # 마이너스 기호 깨짐 방지

# 결측치 시각화 라이브러리 임포트
import missingno                          # 결측치 분포를 시각화하는 유틸리티

# 범주형 변수 레이블 인코딩을 위한 도구 임포트
from sklearn.preprocessing import LabelEncoder

# 중복 조합 생성에 사용할 product 함수 임포트
from itertools import product

# 회귀 및 통계 분석을 위한 statsmodels 임포트
import statsmodels.api as sm

# 다중공선성 진단용 VIF 계산 함수 임포트
from statsmodels.stats.outliers_influence import variance_inflation_factor

### 데이터 불러오기

In [2]:
# 데이터를 불러온다.
df1 = pd.read_parquet('채널정보_결측치_제거data.parquet')

zero_after = [c for c in df1.columns if df1[c].eq(0).all()]
na_after   = [c for c in df1.columns if df1[c].isna().any()]

print("로드 후 0 전부 컬럼:", zero_after)
print("로드 후 NaN 있는 컬럼:", na_after)
print("로드 후 전체 컬럼 수:", len(df1.columns))

로드 후 0 전부 컬럼: []
로드 후 NaN 있는 컬럼: ['Segment']
로드 후 전체 컬럼 수: 70

### Segment 분포 확인하기

In [3]:
# 1) Segment(타깃) 분포 살펴보기
print("▶ Segment 정보:")
print(df1['Segment'].value_counts())

print("\n▶ Segment 분포 및 비율 (%):")
print(df1['Segment'].value_counts(normalize=True).round(5))

▶ Segment 정보:
Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

▶ Segment 분포 및 비율 (%):
Segment
E    0.80086
D    0.14552
C    0.05316
A    0.00040
B    0.00006
Name: proportion, dtype: float64

In [4]:
# One-Hot Encoding
df_ohe = pd.get_dummies(df1, columns=['Segment'], prefix='Seg')

# 결과 확인
print(df_ohe)

           기준년월            ID  인입횟수_ARS_R6M  이용메뉴건수_ARS_R6M  인입일수_ARS_R6M  \
0        201807  TRAIN_000000            10              10             8
1        201807  TRAIN_000001             1               1             0
2        201807  TRAIN_000002             1               1             1
3        201807  TRAIN_000003            10              10            10
4        201807  TRAIN_000004             1               1             0
...         ...           ...           ...             ...           ...
2999995  201812    TEST_99995             1               1             0
2999996  201812    TEST_99996             1               1             0
2999997  201812    TEST_99997             1               1             0
2999998  201812    TEST_99998             1               1             0
2999999  201812    TEST_99999             1               1             0

         인입월수_ARS_R6M  인입후경과월_ARS  인입횟수_ARS_B0M  이용메뉴건수_ARS_B0M  인입일수_ARS_B0M  \
0                   6           0             2               6             2
1                   0           0             0               0             0
2                   1           0             2               5             1
3                   6           0             2               6             2
4                   0           0             0               0             0
...               ...         ...           ...             ...           ...
2999995             0           0             0               0             0
2999996             0           0             0               0             0
2999997             0           0             0               0             0
2999998             0           0             0               0             0
2999999             0           0             0               0             0

         ...  당사멤버쉽_방문월수_R6M  홈페이지_금융건수_R6M  홈페이지_선결제건수_R6M  홈페이지_금융건수_R3M  \
0        ...               6              0               0              0
1        ...               0              0               0              0
2        ...               0             11               6              5
3        ...               6              0               0              0
4        ...               0              0               0              0
...      ...             ...            ...             ...            ...
2999995  ...               0              0               0              0
2999996  ...               0              3               7              3
2999997  ...               0              0               0              0
2999998  ...               0              7              22              4
2999999  ...               0              0               0              0

         홈페이지_선결제건수_R3M  Seg_A  Seg_B  Seg_C  Seg_D  Seg_E
0                     0  False  False  False   True  False
1                     0  False  False  False  False   True
2                     5  False  False   True  False  False
3                     0  False  False  False   True  False
4                     0  False  False  False  False   True
...                 ...    ...    ...    ...    ...    ...
2999995               0  False  False  False  False  False
2999996               3  False  False  False  False  False
2999997               0  False  False  False  False  False
2999998              12  False  False  False  False  False
2999999               0  False  False  False  False  False

[3000000 rows x 74 columns]

### 날짜형 컬럼 datetime으로 변경

In [5]:
# '기준년월' 컬럼을 문자열로 변환한 뒤 날짜로 파싱하고, 월 단위 Period 타입으로 변경
df1['기준년월'] = (
    pd.to_datetime(                         # 문자열을 datetime 타입으로 파싱
        df1['기준년월'].astype(str),         # 숫자형 등을 문자열로 변환
        format='%Y%m'                      # 'YYYYMM' 형식 지정
    )
    .dt.to_period('M')                     # 연-월 단위 Period 타입으로 변환
)

# 변환된 '기준년월' 컬럼의 데이터 타입 및 일부 값 출력
print(df1['기준년월'].dtype)             
print(df1['기준년월'].head())

period[M]
0    2018-07
1    2018-07
2    2018-07
3    2018-07
4    2018-07
Name: 기준년월, dtype: period[M]

### 컬럼을 기간과 채널을 기준으로 그룹으로 묶는다.

In [6]:
# 그룹 딕셔너리 정의
groups = {
    'Identifiers': ['기준년월', 'ID', 'Segment'],
    'ARS': [
        '인입횟수_ARS_R6M','인입일수_ARS_R6M', '인입월수_ARS_R6M',
        '인입후경과월_ARS','인입횟수_ARS_B0M', '인입일수_ARS_B0M'
    ],
    'PC': [
        '방문횟수_PC_R6M','방문일수_PC_R6M','방문월수_PC_R6M',
        '방문후경과월_PC_R6M','방문횟수_PC_B0M','방문일수_PC_B0M'
    ],
    '앱': [
        '방문횟수_앱_R6M','방문일수_앱_R6M','방문월수_앱_R6M',
        '방문후경과월_앱_R6M','방문횟수_앱_B0M','방문일수_앱_B0M'
    ],
    '모바일웹': [
        '방문횟수_모바일웹_R6M','방문일수_모바일웹_R6M',
        '방문월수_모바일웹_R6M','방문후경과월_모바일웹_R6M',
        '방문횟수_모바일웹_B0M','방문일수_모바일웹_B0M'
    ],
    'IB_기본': [
        '인입횟수_IB_R6M','인입일수_IB_R6M','인입월수_IB_R6M',
        '인입후경과월_IB_R6M','인입횟수_IB_B0M','인입일수_IB_B0M'
    ],
    'IB_불만': [
        '인입불만후경과월_IB_R6M'
    ],
    # IB문의건수 메트릭별
    'IB_사용승인내역': ['IB문의건수_사용승인내역_R6M','IB문의건수_사용승인내역_B0M'],
    'IB_한도':       ['IB문의건수_한도_R6M'],
    'IB_선결제':     ['IB문의건수_선결제_R6M','IB문의건수_선결제_B0M'],
    'IB_결제':       ['IB문의건수_결제_R6M', 'IB문의건수_할부_R6M'],
    'IB_정보변경':    ['IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M'],
    'IB_비밀번호':    ['IB문의건수_비밀번호_R6M'],
    'IB_SMS':       ['IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M'],
    'IB_포인트':     ['IB문의건수_포인트_R6M'],
    'IB_카드발급':    ['IB문의건수_카드발급_R6M','IB문의건수_카드발급_B0M'],
    'IB_BL':        ['IB문의건수_BL_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M','IB문의건수_CL_RV_B0M'],
    'IB_분실도난':    ['IB문의건수_분실도난_R6M'],
    'IB_CS':        ['IB문의건수_CS_R6M','IB문의건수_CS_B0M'],
    '상담건수':      ['상담건수_R6M','상담건수_B0M', '불만제기후경과월_R12M'],
    '인입후경과월_ARS':['인입후경과월_ARS'],
    '이용메뉴건수':['이용메뉴건수_ARS_R6M','이용메뉴건수_ARS_B0M', '이용메뉴건수_IB_B0M', '이용메뉴건수_IB_R6M'],
    '당사멤버쉽':['당사멤버쉽_방문월수_R6M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M'],
    '홈페이지_금융':['홈페이지_금융건수_R3M', '홈페이지_금융건수_R6M'],
    '홈페이지_선결제':['홈페이지_선결제건수_R3M', '홈페이지_선결제건수_R6M']
}

# 각 그룹의 이름과 변수 수를 출력
for name, cols in groups.items():
    print(f"{name} ({len(cols)}개): {cols}")

# 그룹에 포함되지 않은 컬럼 찾기
print ("="*20)

grouped_cols = set(sum(groups.values(), []))
all_cols = set(df1.columns)
ungrouped_cols = sorted(list(all_cols - grouped_cols))

if ungrouped_cols:
    print("그룹에 포함되지 않은 컬럼:")
    for col in ungrouped_cols:
        print(" -", col)
else:
    print("모든 컬럼이 그룹에 잘 포함되어 있습니다.")

Identifiers (3개): ['기준년월', 'ID', 'Segment']
ARS (6개): ['인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M', '인입후경과월_ARS', '인입횟수_ARS_B0M', '인입일수_ARS_B0M']
PC (6개): ['방문횟수_PC_R6M', '방문일수_PC_R6M', '방문월수_PC_R6M', '방문후경과월_PC_R6M', '방문횟수_PC_B0M', '방문일수_PC_B0M']
앱 (6개): ['방문횟수_앱_R6M', '방문일수_앱_R6M', '방문월수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_앱_B0M', '방문일수_앱_B0M']
모바일웹 (6개): ['방문횟수_모바일웹_R6M', '방문일수_모바일웹_R6M', '방문월수_모바일웹_R6M', '방문후경과월_모바일웹_R6M', '방문횟수_모바일웹_B0M', '방문일수_모바일웹_B0M']
IB_기본 (6개): ['인입횟수_IB_R6M', '인입일수_IB_R6M', '인입월수_IB_R6M', '인입후경과월_IB_R6M', '인입횟수_IB_B0M', '인입일수_IB_B0M']
IB_불만 (1개): ['인입불만후경과월_IB_R6M']
IB_사용승인내역 (2개): ['IB문의건수_사용승인내역_R6M', 'IB문의건수_사용승인내역_B0M']
IB_한도 (1개): ['IB문의건수_한도_R6M']
IB_선결제 (2개): ['IB문의건수_선결제_R6M', 'IB문의건수_선결제_B0M']
IB_결제 (2개): ['IB문의건수_결제_R6M', 'IB문의건수_할부_R6M']
IB_정보변경 (2개): ['IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M']
IB_비밀번호 (1개): ['IB문의건수_비밀번호_R6M']
IB_SMS (2개): ['IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M']
IB_포인트 (1개): ['IB문의건수_포인트_R6M']
IB_카드발급 (2개): ['IB문의건수_카드발급_R6M', 'IB문의건수_카드발급_B0M']
IB_BL (4개): ['IB문의건수_BL_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CL_RV_B0M']
IB_분실도난 (1개): ['IB문의건수_분실도난_R6M']
IB_CS (2개): ['IB문의건수_CS_R6M', 'IB문의건수_CS_B0M']
상담건수 (3개): ['상담건수_R6M', '상담건수_B0M', '불만제기후경과월_R12M']
인입후경과월_ARS (1개): ['인입후경과월_ARS']
이용메뉴건수 (4개): ['이용메뉴건수_ARS_R6M', '이용메뉴건수_ARS_B0M', '이용메뉴건수_IB_B0M', '이용메뉴건수_IB_R6M']
당사멤버쉽 (3개): ['당사멤버쉽_방문월수_R6M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M']
홈페이지_금융 (2개): ['홈페이지_금융건수_R3M', '홈페이지_금융건수_R6M']
홈페이지_선결제 (2개): ['홈페이지_선결제건수_R3M', '홈페이지_선결제건수_R6M']
====================
모든 컬럼이 그룹에 잘 포함되어 있습니다.

### 각 그룹별 기초 통계량 확인

In [7]:
for name, cols in groups.items():
    print(f"\n=== {name} 그룹 기초 통계량 ===")
    display(df1[cols].describe().round(2))

=== Identifiers 그룹 기초 통계량 ===

           기준년월            ID  Segment
count   3000000       3000000  2400000
unique        6        500000        5
top     2018-07  TRAIN_000000        E
freq     500000             6  1922052

=== ARS 그룹 기초 통계량 ===

,인입횟수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,인입일수_ARS_B0M
count,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00
mean,1.27,0.87,0.55,0.70,0.13,0.10
std,1.53,1.95,1.19,1.48,0.50,0.42
min,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,0.00,0.00,0.00,0.00,0.00
50%,1.00,0.00,0.00,0.00,0.00,0.00
75%,1.00,1.00,1.00,0.00,0.00,0.00
max,10.00,12.00,6.00,5.00,3.00,2.00

=== PC 그룹 기초 통계량 ===

,방문횟수_PC_R6M,방문일수_PC_R6M,방문월수_PC_R6M,방문후경과월_PC_R6M,방문횟수_PC_B0M,방문일수_PC_B0M
count,3000000.00,3000000.00,3000000.00,3000000.0,3000000.00,3000000.0
mean,2.27,1.87,0.48,5.4,0.40,0.3
std,4.92,3.48,1.51,1.7,1.48,1.1
min,1.00,1.00,0.00,0.0,0.00,0.0
25%,1.00,1.00,0.00,6.0,0.00,0.0
50%,1.00,1.00,0.00,6.0,0.00,0.0
75%,1.00,1.00,0.00,6.0,0.00,0.0
max,40.00,30.00,6.00,6.0,9.00,6.0

=== 앱 그룹 기초 통계량 ===

,방문횟수_앱_R6M,방문일수_앱_R6M,방문월수_앱_R6M,방문후경과월_앱_R6M,방문횟수_앱_B0M,방문일수_앱_B0M
count,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00
mean,4.65,3.87,1.05,4.77,0.95,0.77
std,11.26,10.03,2.14,2.36,2.30,1.82
min,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,0.00,0.00,6.00,0.00,0.00
50%,1.00,0.00,0.00,6.00,0.00,0.00
75%,1.00,0.00,0.00,6.00,0.00,0.00
max,80.00,64.00,6.00,6.00,16.00,11.00

=== 모바일웹 그룹 기초 통계량 ===

,방문횟수_모바일웹_R6M,방문일수_모바일웹_R6M,방문월수_모바일웹_R6M,방문후경과월_모바일웹_R6M,방문횟수_모바일웹_B0M,방문일수_모바일웹_B0M
count,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00
mean,0.08,0.07,0.02,5.97,0.00,0.00
std,0.59,0.51,0.15,0.35,0.03,0.03
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,6.00,0.00,0.00
50%,0.00,0.00,0.00,6.00,0.00,0.00
75%,0.00,0.00,0.00,6.00,0.00,0.00
max,13.00,12.00,1.00,6.00,5.00,4.00

=== IB_기본 그룹 기초 통계량 ===

,인입횟수_IB_R6M,인입일수_IB_R6M,인입월수_IB_R6M,인입후경과월_IB_R6M,인입횟수_IB_B0M,인입일수_IB_B0M
count,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00,3000000.00
mean,0.99,0.63,0.42,5.09,0.09,0.04
std,2.06,1.28,0.79,1.75,0.42,0.19
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,5.00,0.00,0.00
50%,0.00,0.00,0.00,6.00,0.00,0.00
75%,1.00,1.00,1.00,6.00,0.00,0.00
max,15.00,8.00,6.00,6.00,3.00,2.00

=== IB_불만 그룹 기초 통계량 ===

       인입불만후경과월_IB_R6M
count        3000000.0
mean               6.0
std                0.0
min                6.0
25%                6.0
50%                6.0
75%                6.0
max                6.0

=== IB_사용승인내역 그룹 기초 통계량 ===

       IB문의건수_사용승인내역_R6M  IB문의건수_사용승인내역_B0M
count         3000000.00         3000000.00
mean                0.10               0.00
std                 0.43               0.01
min                 0.00               0.00
25%                 0.00               0.00
50%                 0.00               0.00
75%                 0.00               0.00
max                 2.00               1.00

=== IB_한도 그룹 기초 통계량 ===

       IB문의건수_한도_R6M
count     3000000.00
mean            0.01
std             0.14
min             0.00
25%             0.00
50%             0.00
75%             0.00
max             2.00

=== IB_선결제 그룹 기초 통계량 ===

       IB문의건수_선결제_R6M  IB문의건수_선결제_B0M
count      3000000.00      3000000.00
mean             0.16            0.00
std              0.70            0.06
min              0.00            0.00
25%              0.00            0.00
50%              0.00            0.00
75%              0.00            0.00
max              6.00            1.00

=== IB_결제 그룹 기초 통계량 ===

       IB문의건수_결제_R6M  IB문의건수_할부_R6M
count     3000000.00     3000000.00
mean            0.00           0.00
std             0.08           0.02
min             0.00           0.00
25%             0.00           0.00
50%             0.00           0.00
75%             0.00           0.00
max             2.00           1.00

=== IB_정보변경 그룹 기초 통계량 ===

       IB문의건수_정보변경_R6M  IB문의건수_결제일변경_R6M
count       3000000.00        3000000.00
mean              0.02              0.01
std               0.13              0.11
min               0.00              0.00
25%               0.00              0.00
50%               0.00              0.00
75%               0.00              0.00
max               1.00              5.00

=== IB_비밀번호 그룹 기초 통계량 ===

       IB문의건수_비밀번호_R6M
count       3000000.00
mean              0.00
std               0.01
min               0.00
25%               0.00
50%               0.00
75%               0.00
max               1.00

=== IB_SMS 그룹 기초 통계량 ===

       IB문의건수_SMS_R6M  IB문의건수_부대서비스_R6M
count      3000000.00         3000000.0
mean             0.00               0.0
std              0.02               0.0
min              0.00               0.0
25%              0.00               0.0
50%              0.00               0.0
75%              0.00               0.0
max              1.00               1.0

=== IB_포인트 그룹 기초 통계량 ===

       IB문의건수_포인트_R6M
count       3000000.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               4.0

=== IB_카드발급 그룹 기초 통계량 ===

       IB문의건수_카드발급_R6M  IB문의건수_카드발급_B0M
count       3000000.00        3000000.0
mean              0.01              0.0
std               0.11              0.0
min               0.00              0.0
25%               0.00              0.0
50%               0.00              0.0
75%               0.00              0.0
max               1.00              1.0

=== IB_BL 그룹 기초 통계량 ===

       IB문의건수_BL_R6M  IB문의건수_CA_R6M  IB문의건수_CL_RV_R6M  IB문의건수_CL_RV_B0M
count     3000000.00     3000000.00        3000000.00        3000000.00
mean            0.00           0.00              0.02              0.00
std             0.01           0.02              0.13              0.01
min             0.00           0.00              0.00              0.00
25%             0.00           0.00              0.00              0.00
50%             0.00           0.00              0.00              0.00
75%             0.00           0.00              0.00              0.00
max             1.00           8.00              3.00              1.00

=== IB_분실도난 그룹 기초 통계량 ===

       IB문의건수_분실도난_R6M
count       3000000.00
mean              0.01
std               0.08
min               0.00
25%               0.00
50%               0.00
75%               0.00
max               1.00

=== IB_CS 그룹 기초 통계량 ===

       IB문의건수_CS_R6M  IB문의건수_CS_B0M
count     3000000.00     3000000.00
mean            0.00           0.00
std             0.12           0.05
min             0.00           0.00
25%             0.00           0.00
50%             0.00           0.00
75%             0.00           0.00
max             6.00           4.00

=== 상담건수 그룹 기초 통계량 ===

         상담건수_R6M    상담건수_B0M  불만제기후경과월_R12M
count  3000000.00  3000000.00     3000000.00
mean         1.05        0.09           6.57
std          2.11        0.42           5.97
min          0.00        0.00           0.00
25%          0.00        0.00           0.00
50%          0.00        0.00          12.00
75%          2.00        0.00          12.00
max         13.00        3.00          12.00

=== 인입후경과월_ARS 그룹 기초 통계량 ===

       인입후경과월_ARS
count  3000000.00
mean         0.70
std          1.48
min          0.00
25%          0.00
50%          0.00
75%          0.00
max          5.00

=== 이용메뉴건수 그룹 기초 통계량 ===

       이용메뉴건수_ARS_R6M  이용메뉴건수_ARS_B0M  이용메뉴건수_IB_B0M  이용메뉴건수_IB_R6M
count      3000000.00      3000000.00     3000000.00     3000000.00
mean             1.44            0.32           0.03           0.62
std              2.59            1.25           0.18           1.16
min              1.00            0.00           0.00           0.00
25%              1.00            0.00           0.00           0.00
50%              1.00            0.00           0.00           0.00
75%              1.00            0.00           0.00           1.00
max             30.00            7.00           1.00           6.00

=== 당사멤버쉽 그룹 기초 통계량 ===

       당사멤버쉽_방문월수_R6M  당사멤버쉽_방문횟수_B0M  당사멤버쉽_방문횟수_R6M
count      3000000.00      3000000.00      3000000.00
mean             0.59            1.40           11.41
std              1.69            6.57           45.82
min              0.00            0.00            0.00
25%              0.00            0.00            0.00
50%              0.00            0.00            0.00
75%              0.00            0.00            0.00
max              6.00           63.00          259.00

=== 홈페이지_금융 그룹 기초 통계량 ===

       홈페이지_금융건수_R3M  홈페이지_금융건수_R6M
count     3000000.00     3000000.00
mean            0.41           0.74
std             1.19           2.11
min             0.00           0.00
25%             0.00           0.00
50%             0.00           0.00
75%             0.00           0.00
max             8.00          16.00

=== 홈페이지_선결제 그룹 기초 통계량 ===

       홈페이지_선결제건수_R3M  홈페이지_선결제건수_R6M
count      3000000.00      3000000.00
mean             0.53            0.97
std              1.70            3.13
min              0.00            0.00
25%              0.00            0.00
50%              0.00            0.00
75%              0.00            0.00
max             16.00           30.00

### 그룹 내 변수 간 상관관계 분석
- 에타 제곱 분석의 신뢰도를 높이기 위해, 전체의 5% 미만을 차지하는 세그먼트는 표본 수가 부족하여 과도한 변동을 유발하고 해석에 혼란을 줄 수 있으므로 사전에 제외하였다.
- 에타 제곱 값이 0.01 미만인 변수는 그룹 간 차이를 설명하는 데 기여가 거의 없다고 판단하여 추가 분석 대상에서 제외하였다.

In [8]:
# 수치형 독립 변수와 범주형 타겟 변수 사이의 관련성 확인 (Eta Squared : 에타 제곱)
def eta_squared(y, x):
    # 제외할 세그먼트 리스트 설정
    drop_segs = ['A', 'B']
    
    # 제외 대상 세그먼트 필터 마스크 생성
    mask = ~y.isin(drop_segs)
    y_f = y[mask]
    x_f = x[mask]
    
    # 전체 x_f의 평균 산출하여 grand_mean에 저장
    grand_mean = x_f.mean()
    
    # 총 변동 SST 산출
    sst = ((x_f - grand_mean) ** 2).sum()
    
    # 필터링된 그룹별 x_f 리스트 생성
    groups = [x_f[y_f == val] for val in y_f.unique()]
    
    # 집단 간 변동 SSB 산출
    ssb = sum(len(g) * (g.mean() - grand_mean) ** 2 for g in groups)
    
    # Eta Squared 산출하여 반환
    return ssb / sst if sst != 0 else np.nan

In [9]:
# VIF 계산 함수 (그룹 내 수치형 변수만)
def compute_vif(df, feature_cols):
    # 수치형 컬럼만 선택
    X = df1[feature_cols].select_dtypes(include=[np.number]).copy()
    # 상수항 추가
    X['const'] = 1.0
    # 무한대·결측 제거
    X = X.replace([np.inf, -np.inf], np.nan).dropna()
    # VIF 계산
    vif_data = []
    for i, col in enumerate(X.columns):
        vif_data.append({
            'variable': col,
            'VIF': variance_inflation_factor(X.values, i)
        })
    return pd.DataFrame(vif_data)

In [10]:
# Seg_로 시작하는 더미 컬럼 리스트 생성
dummy_cols = [c for c in df_ohe.columns if c.startswith('Seg_')]

# Segment 복원: 값이 1인 더미 컬럼에서 'Seg_' 접두사를 제거
df_ohe['Segment'] = df_ohe[dummy_cols].idxmax(axis=1).str.replace('Seg_', '')

# 수치형 변수만 남긴 df_num 생성 (더미 컬럼 제거)
df_num = df_ohe.drop(columns=dummy_cols).copy()

# 기존에 생성한 df_num을 df로 재할당
df = df_num

### 1. ARS 그룹

In [11]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M', '인입후경과월_ARS', '인입횟수_ARS_B0M', '인입일수_ARS_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

인입횟수_ARS_R6M vs Segment η²: 0.012
인입일수_ARS_R6M vs Segment η²: 0.025
인입월수_ARS_R6M vs Segment η²: 0.025
인입후경과월_ARS vs Segment η²: 0.005
인입횟수_ARS_B0M vs Segment η²: 0.013
인입일수_ARS_B0M vs Segment η²: 0.014

In [12]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['인입후경과월_ARS']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '인입일수_ARS_B0M',
       '방문횟수_PC_R6M', '방문일수_PC_R6M', '방문월수_PC_R6M', '방문후경과월_PC_R6M',
       '방문횟수_앱_R6M', '방문일수_앱_R6M', '방문월수_앱_R6M', '방문후경과월_앱_R6M',
       '방문횟수_모바일웹_R6M', '방문일수_모바일웹_R6M', '방문월수_모바일웹_R6M', '방문후경과월_모바일웹_R6M',
       '방문횟수_PC_B0M', '방문일수_PC_B0M', '방문횟수_앱_B0M', '방문일수_앱_B0M',
       '방문횟수_모바일웹_B0M', '방문일수_모바일웹_B0M', '인입횟수_IB_R6M', '인입일수_IB_R6M',
       '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M', '인입횟수_IB_B0M',
       '인입일수_IB_B0M', '이용메뉴건수_IB_B0M', '인입불만후경과월_IB_R6M', '상담건수_B0M',
       'IB문의건수_사용승인내역_B0M', 'IB문의건수_선결제_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_한도_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_결제_R6M', 'IB문의건수_할부_R6M',
       'IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M', 'IB문의건수_비밀번호_R6M',
       'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M', 'IB문의건수_포인트_R6M',
       'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M',
       'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

In [13]:
# 그룹 변수 리스트 정의
ars_cols = ['인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M', '인입횟수_ARS_B0M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

       variable       VIF
0  인입횟수_ARS_R6M  2.657210
1  인입일수_ARS_R6M  7.039859
2  인입월수_ARS_R6M  6.785949
3  인입횟수_ARS_B0M  2.274021
4         const  1.855316

In [14]:
# 삭제할 피처 리스트
drop_cols = ['인입일수_ARS_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 2. PC 그룹

In [15]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['방문횟수_PC_R6M', '방문일수_PC_R6M', '방문월수_PC_R6M', '방문후경과월_PC_R6M', '방문횟수_PC_B0M', '방문일수_PC_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

방문횟수_PC_R6M vs Segment η²: 0.019
방문일수_PC_R6M vs Segment η²: 0.017
방문월수_PC_R6M vs Segment η²: 0.026
방문후경과월_PC_R6M vs Segment η²: 0.030
방문횟수_PC_B0M vs Segment η²: 0.020
방문일수_PC_B0M vs Segment η²: 0.020

In [16]:
# 그룹 변수 리스트 정의
ars_cols = ['방문횟수_PC_R6M', '방문후경과월_PC_R6M', '방문횟수_PC_B0M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

        variable        VIF
0    방문횟수_PC_R6M   5.640467
1  방문후경과월_PC_R6M   4.158054
2    방문횟수_PC_B0M   8.251978
3          const  50.492326

In [17]:
# 삭제할 피처 리스트 
drop_cols = ['방문일수_PC_B0M', '방문월수_PC_R6M', '방문일수_PC_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 3. 앱 그룹

In [18]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['방문횟수_앱_R6M', '방문일수_앱_R6M', '방문월수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_앱_B0M', '방문일수_앱_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

방문횟수_앱_R6M vs Segment η²: 0.021
방문일수_앱_R6M vs Segment η²: 0.025
방문월수_앱_R6M vs Segment η²: 0.026
방문후경과월_앱_R6M vs Segment η²: 0.028
방문횟수_앱_B0M vs Segment η²: 0.027
방문일수_앱_B0M vs Segment η²: 0.026

In [19]:
# 그룹 변수 리스트 정의
ars_cols = ['방문횟수_앱_R6M', '방문후경과월_앱_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

       variable        VIF
0    방문횟수_앱_R6M   1.731363
1  방문후경과월_앱_R6M   1.731363
2         const  10.223053

In [20]:
# 삭제할 피처 리스트 
drop_cols = ['방문일수_앱_R6M', '방문횟수_앱_B0M', '방문일수_앱_B0M', '방문월수_앱_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 4. 모바일웹 그룹

In [21]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['방문횟수_모바일웹_R6M', '방문일수_모바일웹_R6M', '방문월수_모바일웹_R6M', '방문후경과월_모바일웹_R6M', '방문횟수_모바일웹_B0M', '방문일수_모바일웹_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

방문횟수_모바일웹_R6M vs Segment η²: 0.005
방문일수_모바일웹_R6M vs Segment η²: 0.005
방문월수_모바일웹_R6M vs Segment η²: 0.005
방문후경과월_모바일웹_R6M vs Segment η²: 0.002
방문횟수_모바일웹_B0M vs Segment η²: 0.000
방문일수_모바일웹_B0M vs Segment η²: 0.000

In [22]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['방문횟수_모바일웹_R6M', '방문일수_모바일웹_R6M', '방문월수_모바일웹_R6M', '방문후경과월_모바일웹_R6M', '방문횟수_모바일웹_B0M', '방문일수_모바일웹_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입횟수_IB_R6M', '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M',
       '인입후경과월_IB_R6M', '인입횟수_IB_B0M', '인입일수_IB_B0M', '이용메뉴건수_IB_B0M',
       '인입불만후경과월_IB_R6M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_선결제_B0M',
       'IB문의건수_카드발급_B0M', 'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M',
       'IB문의건수_사용승인내역_R6M', 'IB문의건수_한도_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_결제_R6M',
       'IB문의건수_할부_R6M', 'IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M',
       'IB문의건수_비밀번호_R6M', 'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M',
       'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M',
       'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M',
       '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M',
       '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 5. IB 기본 그룹

In [23]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['인입횟수_IB_R6M', '인입일수_IB_R6M', '인입월수_IB_R6M', '인입후경과월_IB_R6M', '인입횟수_IB_B0M', '인입일수_IB_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

인입횟수_IB_R6M vs Segment η²: 0.020
인입일수_IB_R6M vs Segment η²: 0.021
인입월수_IB_R6M vs Segment η²: 0.021
인입후경과월_IB_R6M vs Segment η²: 0.015
인입횟수_IB_B0M vs Segment η²: 0.005
인입일수_IB_B0M vs Segment η²: 0.004

In [24]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['인입횟수_IB_B0M', '인입일수_IB_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입횟수_IB_R6M', '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M',
       '인입후경과월_IB_R6M', '이용메뉴건수_IB_B0M', '인입불만후경과월_IB_R6M', '상담건수_B0M',
       'IB문의건수_사용승인내역_B0M', 'IB문의건수_선결제_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_한도_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_결제_R6M', 'IB문의건수_할부_R6M',
       'IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M', 'IB문의건수_비밀번호_R6M',
       'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M', 'IB문의건수_포인트_R6M',
       'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M',
       'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

In [25]:
# 그룹 변수 리스트 정의
ars_cols =['인입일수_IB_R6M', '인입월수_IB_R6M', '인입후경과월_IB_R6M']


# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

        variable        VIF
0    인입일수_IB_R6M   5.265699
1    인입월수_IB_R6M   5.929108
2  인입후경과월_IB_R6M   3.210464
3          const  37.474989

In [26]:
# 삭제할 피처 리스트 
drop_cols = ['인입횟수_IB_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 6. IB_불만 그룹

In [27]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['인입불만후경과월_IB_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

인입불만후경과월_IB_R6M vs Segment η²: nan

In [28]:
# 데이터 확인
df['인입불만후경과월_IB_R6M'].describe()
df['인입불만후경과월_IB_R6M'].value_counts(dropna=False)

인입불만후경과월_IB_R6M
6    3000000
Name: count, dtype: int64

In [29]:
# 삭제할 피처 리스트 
drop_cols = ['인입불만후경과월_IB_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 7. IB_사용승인내역 그룹

In [30]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['인입월수_IB_R6M', '인입후경과월_IB_R6M', '인입일수_IB_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

인입월수_IB_R6M vs Segment η²: 0.021
인입후경과월_IB_R6M vs Segment η²: 0.015
인입일수_IB_R6M vs Segment η²: 0.021

In [31]:
# 그룹 변수 리스트 정의
ars_cols = ['인입월수_IB_R6M', '인입후경과월_IB_R6M', '인입일수_IB_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

        variable        VIF
0    인입월수_IB_R6M   5.929108
1  인입후경과월_IB_R6M   3.210464
2    인입일수_IB_R6M   5.265699
3          const  37.474989

### 8. IB_한도 그룹

In [32]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_한도_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_한도_R6M vs Segment η²: 0.000

In [33]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_한도_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_선결제_B0M',
       'IB문의건수_카드발급_B0M', 'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M',
       'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_결제_R6M', 'IB문의건수_할부_R6M',
       'IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M', 'IB문의건수_비밀번호_R6M',
       'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M', 'IB문의건수_포인트_R6M',
       'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M',
       'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 9. IB_선결제 그룹

In [34]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_선결제_R6M', 'IB문의건수_선결제_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_선결제_R6M vs Segment η²: 0.011
IB문의건수_선결제_B0M vs Segment η²: 0.002

In [35]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_선결제_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_결제_R6M', 'IB문의건수_할부_R6M', 'IB문의건수_정보변경_R6M',
       'IB문의건수_결제일변경_R6M', 'IB문의건수_비밀번호_R6M', 'IB문의건수_SMS_R6M',
       'IB문의건수_부대서비스_R6M', 'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M',
       'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M',
       'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M',
       '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M',
       '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 10. IB_결제 그룹

In [36]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_결제_R6M', 'IB문의건수_할부_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_결제_R6M vs Segment η²: 0.001
IB문의건수_할부_R6M vs Segment η²: 0.000

In [37]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_결제_R6M', 'IB문의건수_할부_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M',
       'IB문의건수_비밀번호_R6M', 'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M',
       'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M',
       'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M',
       '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M',
       '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 11. IB_정보변경 그룹

In [38]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_정보변경_R6M vs Segment η²: 0.000
IB문의건수_결제일변경_R6M vs Segment η²: 0.000

In [39]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_정보변경_R6M', 'IB문의건수_결제일변경_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_비밀번호_R6M', 'IB문의건수_SMS_R6M',
       'IB문의건수_부대서비스_R6M', 'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M',
       'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M',
       'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M',
       '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M',
       '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 12. IB_비밀번호 그룹

In [40]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_비밀번호_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_비밀번호_R6M vs Segment η²: 0.000

In [41]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_비밀번호_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M',
       'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M',
       'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M',
       '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M',
       '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 13. IB_SMS 그룹

In [42]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_SMS_R6M vs Segment η²: 0.000
IB문의건수_부대서비스_R6M vs Segment η²: 0.000

In [43]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_SMS_R6M', 'IB문의건수_부대서비스_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_카드발급_B0M',
       'IB문의건수_CL_RV_B0M', 'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M', 'IB문의건수_카드발급_R6M', 'IB문의건수_BL_R6M',
       'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M',
       '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M',
       '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M',
       'Segment'],
      dtype='object')

### 14. IB_카드발급 그룹

In [44]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_카드발급_R6M', 'IB문의건수_카드발급_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_카드발급_R6M vs Segment η²: 0.002
IB문의건수_카드발급_B0M vs Segment η²: 0.000

In [45]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_카드발급_R6M', 'IB문의건수_카드발급_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_CL_RV_B0M',
       'IB문의건수_CS_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M',
       'IB문의건수_포인트_R6M', 'IB문의건수_BL_R6M', 'IB문의건수_분실도난_R6M', 'IB문의건수_CA_R6M',
       'IB문의건수_CL_RV_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 15. IB_BL 그룹

In [46]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_BL_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CL_RV_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_BL_R6M vs Segment η²: 0.000
IB문의건수_CA_R6M vs Segment η²: 0.000
IB문의건수_CL_RV_R6M vs Segment η²: 0.000
IB문의건수_CL_RV_B0M vs Segment η²: 0.000

In [47]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_BL_R6M', 'IB문의건수_CA_R6M', 'IB문의건수_CL_RV_R6M', 'IB문의건수_CL_RV_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_CS_B0M',
       '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       'IB문의건수_분실도난_R6M', 'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 16. IB_분실도난

In [48]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_분실도난_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_분실도난_R6M vs Segment η²: 0.002

In [49]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_분실도난_R6M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', 'IB문의건수_CS_B0M',
       '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       'IB문의건수_CS_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M',
       '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M',
       '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

### 17. IB_CS 그룹

In [50]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['IB문의건수_CS_R6M', 'IB문의건수_CS_B0M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

IB문의건수_CS_R6M vs Segment η²: 0.000
IB문의건수_CS_B0M vs Segment η²: 0.000

In [51]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['IB문의건수_CS_R6M', 'IB문의건수_CS_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', '상담건수_B0M', 'IB문의건수_사용승인내역_B0M', '상담건수_R6M',
       'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M',
       '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M',
       'Segment'],
      dtype='object')

### 18. 상담건수 그룹

In [52]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['상담건수_R6M', '상담건수_B0M', '불만제기후경과월_R12M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

상담건수_R6M vs Segment η²: 0.021
상담건수_B0M vs Segment η²: 0.005
불만제기후경과월_R12M vs Segment η²: 0.032

In [53]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['상담건수_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '인입일수_ARS_R6M',
       '인입월수_ARS_R6M', '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M',
       '방문후경과월_PC_R6M', '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M',
       '인입일수_IB_R6M', '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M',
       '이용메뉴건수_IB_B0M', 'IB문의건수_사용승인내역_B0M', '상담건수_R6M', 'IB문의건수_사용승인내역_R6M',
       'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M', '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M',
       '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M',
       '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

In [54]:
# 그룹 변수 리스트 정의
ars_cols =['상담건수_R6M', '불만제기후경과월_R12M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

        variable       VIF
0       상담건수_R6M  1.228543
1  불만제기후경과월_R12M  1.228543
2          const  2.209177

### 19. 이용메뉴건수 그룹

In [55]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['이용메뉴건수_ARS_R6M', '이용메뉴건수_ARS_B0M', '이용메뉴건수_IB_B0M', '이용메뉴건수_IB_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

이용메뉴건수_ARS_R6M vs Segment η²: 0.009
이용메뉴건수_ARS_B0M vs Segment η²: 0.013
이용메뉴건수_IB_B0M vs Segment η²: 0.004
이용메뉴건수_IB_R6M vs Segment η²: 0.019

In [56]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['이용메뉴건수_ARS_R6M', '이용메뉴건수_IB_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M',
       '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M', '방문후경과월_PC_R6M',
       '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M', '인입일수_IB_R6M',
       '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M', 'IB문의건수_사용승인내역_B0M',
       '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M',
       '홈페이지_금융건수_R6M', '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M',
       'Segment'],
      dtype='object')

In [57]:
# 그룹 변수 리스트 정의
ars_cols =['이용메뉴건수_ARS_B0M', '이용메뉴건수_IB_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

         variable       VIF
0  이용메뉴건수_ARS_B0M  1.295400
1   이용메뉴건수_IB_R6M  1.295400
2           const  1.282465

### 20. 당사멤버십 그룹

In [58]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['당사멤버쉽_방문월수_R6M', '당사멤버쉽_방문횟수_B0M', '당사멤버쉽_방문횟수_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

당사멤버쉽_방문월수_R6M vs Segment η²: 0.019
당사멤버쉽_방문횟수_B0M vs Segment η²: 0.009
당사멤버쉽_방문횟수_R6M vs Segment η²: 0.010

In [59]:
# 삭제할 피처 리스트 (>0.01이 아닌, 거의 효과가 없는 것)
drop_cols = ['당사멤버쉽_방문횟수_B0M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

# 삭제 확인
print(df.columns)

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M',
       '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M', '방문후경과월_PC_R6M',
       '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M', '인입일수_IB_R6M',
       '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M', 'IB문의건수_사용승인내역_B0M',
       '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M',
       '홈페이지_선결제건수_R6M', '홈페이지_금융건수_R3M', '홈페이지_선결제건수_R3M', 'Segment'],
      dtype='object')

In [60]:
# 그룹 변수 리스트 정의
ars_cols = ['당사멤버쉽_방문월수_R6M', '당사멤버쉽_방문횟수_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

         variable       VIF
0  당사멤버쉽_방문월수_R6M  2.605378
1  당사멤버쉽_방문횟수_R6M  2.605378
2           const  1.122375

### 21. 홈페이지_금융 그룹

In [61]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['홈페이지_금융건수_R3M', '홈페이지_금융건수_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

홈페이지_금융건수_R3M vs Segment η²: 0.026
홈페이지_금융건수_R6M vs Segment η²: 0.029

In [62]:
# 그룹 변수 리스트 정의
ars_cols =['홈페이지_금융건수_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

        variable       VIF
0  홈페이지_금융건수_R6M  1.000000
1          const  1.121371

In [63]:
# 삭제할 피처 리스트 
drop_cols = ['홈페이지_금융건수_R3M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

### 22. 홈페이지_선결제 그룹

In [64]:
# 비교하고 싶은 그룹 변수 리스트
group_cols = ['홈페이지_선결제건수_R3M', '홈페이지_선결제건수_R6M']

# 각 변수에 대해 η² 계산
for col in group_cols:
    η2 = eta_squared(df['Segment'], df[col])
    print(f"{col} vs Segment η²: {η2:.3f}")

홈페이지_선결제건수_R3M vs Segment η²: 0.023
홈페이지_선결제건수_R6M vs Segment η²: 0.024

In [65]:
# 그룹 변수 리스트 정의
ars_cols = ['홈페이지_선결제건수_R6M']

# 그룹 내 다중공선성 확인
vif_ars = compute_vif(df, ars_cols)
print(vif_ars)

         variable       VIF
0  홈페이지_선결제건수_R6M  1.000000
1           const  1.097012

In [66]:
# 삭제할 피처 리스트 
drop_cols = ['홈페이지_선결제건수_R3M']

# 삭제
df.drop(columns=drop_cols, inplace = True)

In [67]:
# 데이터 확인한 후 저장한다.
print(df.columns)
print(len(df.columns))

df.to_csv('채널정보_전처리.csv', index=False, encoding='utf-8-sig')

Index(['기준년월', 'ID', '인입횟수_ARS_R6M', '인입일수_ARS_R6M', '인입월수_ARS_R6M',
       '인입횟수_ARS_B0M', '이용메뉴건수_ARS_B0M', '방문횟수_PC_R6M', '방문후경과월_PC_R6M',
       '방문횟수_앱_R6M', '방문후경과월_앱_R6M', '방문횟수_PC_B0M', '인입일수_IB_R6M',
       '인입월수_IB_R6M', '이용메뉴건수_IB_R6M', '인입후경과월_IB_R6M', 'IB문의건수_사용승인내역_B0M',
       '상담건수_R6M', 'IB문의건수_사용승인내역_R6M', 'IB문의건수_선결제_R6M', 'IB문의건수_포인트_R6M',
       '불만제기후경과월_R12M', '당사멤버쉽_방문횟수_R6M', '당사멤버쉽_방문월수_R6M', '홈페이지_금융건수_R6M',
       '홈페이지_선결제건수_R6M', 'Segment'],
      dtype='object')
27

In [68]:
# 저장된 파일 불러와서 확인하기
df2 = pd.read_csv('채널정보_전처리.csv')
zero_after = [c for c in df2.columns if df2[c].eq(0).all()]
na_after   = [c for c in df2.columns if df2[c].isna().any()]

print("로드 후 0 전부 컬럼:", zero_after)
print("로드 후 NaN 있는 컬럼:", na_after)
print("로드 후 전체 컬럼 수:", len(df2.columns))

로드 후 0 전부 컬럼: []
로드 후 NaN 있는 컬럼: []
로드 후 전체 컬럼 수: 27

### Train 데이터와 Test 데이터 분리하기

In [69]:
# 데이터 불러오기
df = pd.read_csv('채널정보_전처리.csv')

# ID가 'TEST_'로 시작하면 test, 아니면 train으로 분리
is_test = df['ID'].str.startswith('TEST_')
train_df = df[~is_test].reset_index(drop=True)
test_df  = df[ is_test].reset_index(drop=True)

# 분리된 데이터 저장
train_df.to_csv('train_cleaned.csv', index=False, encoding='utf-8-sig')
test_df .to_csv('test_cleaned.csv',  index=False, encoding='utf-8-sig')

# 저장된 CSV 다시 불러와서 분리 상태 확인
train_check = pd.read_csv('train_cleaned.csv')
test_check  = pd.read_csv('test_cleaned.csv')

# 검증: train에 'TEST_' ID 없어야 하고, test에는 'TEST_' ID만 있어야 함
print("▶ train에 TEST_ ID 존재 여부:", train_check['ID'].str.startswith('TEST_').any())
print("▶ test에 TEST_ 아닌 ID 존재 여부:", (~test_check['ID'].str.startswith('TEST_')).any())

▶ train에 TEST_ ID 존재 여부: False
▶ test에 TEST_ 아닌 ID 존재 여부: False

In [70]:
# train 데이터 불러오기
df = pd.read_csv ('train_cleaned.csv')
df

,기준년월,ID,인입횟수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,방문횟수_PC_R6M,방문후경과월_PC_R6M,방문횟수_앱_R6M,...,상담건수_R6M,IB문의건수_사용승인내역_R6M,IB문의건수_선결제_R6M,IB문의건수_포인트_R6M,불만제기후경과월_R12M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,Segment
0,201807,TRAIN_000000,10,8,6,2,6,1,6,1,...,1,0,0,0,12,221,6,0,0,D
1,201807,TRAIN_000001,1,0,0,0,0,1,6,1,...,0,0,0,0,12,0,0,0,0,E
2,201807,TRAIN_000002,1,1,1,2,5,10,0,30,...,1,0,0,0,12,0,0,11,6,C
3,201807,TRAIN_000003,10,10,6,2,6,1,6,1,...,7,0,0,0,12,219,6,0,0,D
4,201807,TRAIN_000004,1,0,0,0,0,1,6,1,...,0,0,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1,0,0,0,0,1,6,1,...,0,0,0,0,0,0,0,0,0,E
2399996,201812,TRAIN_399996,1,0,0,0,0,1,6,1,...,0,0,0,0,12,0,1,0,0,D
2399997,201812,TRAIN_399997,1,0,0,0,0,1,6,1,...,0,0,0,0,12,0,0,0,0,C
2399998,201812,TRAIN_399998,1,0,0,0,0,1,6,1,...,0,0,0,0,0,0,0,0,0,E
2399999,201812,TRAIN_399999,1,0,0,0,0,1,6,1,...,0,0,0,0,0,0,0,0,0,E