In [1]:
# 기본 라이브러리 임포트
import pandas as pd             
import numpy as np             
import matplotlib.pyplot as plt 
import seaborn as sns           
import gc                       # 가비지 컬렉션(메모리 해제)
import re                       # 정규 표현식 처리
from collections import defaultdict  # 기본값이 있는 딕셔너리 생성

# 경고 메시지 억제
import warnings
warnings.filterwarnings('ignore')   

# 그래프 스타일 설정
sns.set()                           # seaborn 기본 스타일 적용

# matplotlib 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'  
plt.rcParams['figure.figsize'] = (12, 6)       # 그림 크기 설정 (가로, 세로)
plt.rcParams['font.size'] = 14                 # 폰트 크기 설정
plt.rcParams['axes.unicode_minus'] = False     # 마이너스 기호 깨짐 방지

# 결측치 시각화 라이브러리 임포트
import missingno                          # 결측치 분포를 시각화하는 유틸리티

# 범주형 변수 레이블 인코딩을 위한 도구 임포트
from sklearn.preprocessing import LabelEncoder

# 중복 조합 생성에 사용할 product 함수 임포트
from itertools import product

# 회귀 및 통계 분석을 위한 statsmodels 임포트
import statsmodels.api as sm

### 데이터 병합

In [2]:
# 채널정보 파일 읽기
channel_df = pd.read_parquet('open/concat/2018_승인매출정보.parquet')

# 회원정보 파일 읽기
member_df  = pd.read_parquet('open/concat/2018_회원정보.parquet')

# 회원정보에서 ID와 Segment 컬럼만 추출
member_seg = member_df[['ID', 'Segment']]

# 중복된 ID 개수 확인
dup_count = member_seg['ID'].duplicated().sum()
print(f'중복된 ID 개수: {dup_count}')

# 중복된 ID를 첫 번째 항목만 남기고 제거
member_seg_unique = member_seg.drop_duplicates(subset='ID', keep='first')
print(f'중복 제거 후 행 수: {len(member_seg_unique)}')

# 채널정보에 Segment 컬럼 병합 (1:1 조인 보장)
df = channel_df.merge(member_seg_unique, on='ID', how='left')

# 결과 확인
print("병합 후 데이터프레임 크기:", df.shape)
print(df.head())

# 병합된 파일 저장
df.to_parquet('2018_승인매출정보_with_segment.parquet', index=False)

중복된 ID 개수: 2500000
중복 제거 후 행 수: 500000
병합 후 데이터프레임 크기: (3000000, 407)
     기준년월            ID  최종이용일자_기본  최종이용일자_신판  최종이용일자_CA  최종이용일자_카드론  \
0  201807  TRAIN_000000   20180719   20180713   20180719       10101
1  201807  TRAIN_000001   20180719   20180719   20170728    20170327
2  201807  TRAIN_000002   20180706   20180706   20180706    20151119
3  201807  TRAIN_000003   20180721   20180715   20180721       10101
4  201807  TRAIN_000004   20180124   20180124      10101       10101

   최종이용일자_체크  최종이용일자_일시불  최종이용일자_할부  이용건수_신용_B0M  ...  승인거절건수_BL_B0M  \
0   20180203    20180709   20180713           11  ...              0
1      10101    20180719   20171231           13  ...              0
2   20141230    20180706   20180627           12  ...              0
3   20141111    20180704   20180715            6  ...              0
4   20180512    20180124      10101           -2  ...              0

   승인거절건수_입력오류_B0M  승인거절건수_기타_B0M  승인거절건수_R3M  승인거절건수_한도초과_R3M  승인거절건수_BL_R3M  \
0                0              0           3                3              0
1                0              0           3                3              0
2                0              0           0                0              0
3                0              0           3                3              0
4                0              0           0                0              0

   승인거절건수_입력오류_R3M  승인거절건수_기타_R3M      이용금액대  Segment
0                0              0  01.100만원+        D
1                0              0   03.30만원+        E
2                0              0  01.100만원+        C
3                0              0  01.100만원+        D
4                0              0     09.미사용        E

[5 rows x 407 columns]

In [3]:
# 데이터를 불러온다.
df = pd.read_parquet('2018_승인매출정보_with_segment.parquet')

### 값이 하나 뿐인 컬럼과 값이 모두 0인 컬럼도 제외

In [4]:
# 전부 0인 컬럼 찾기
zero_cols = [c for c in df.columns if df[c].eq(0).all()]

print("모두 0인 컬럼 (제거 대상):")
print(zero_cols)

# 전부 0인 컬럼 제거
df.drop(columns=zero_cols, inplace = True)

# 4) 결과 확인
print("최종 DataFrame shape:", df.shape)

모두 0인 컬럼 (제거 대상):
['이용건수_부분무이자_B0M', '이용금액_부분무이자_B0M', '여유_여행이용금액', '납부_렌탈료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', 'RP건수_유선방송_B0M', 'RP건수_건강_B0M', '증감_RP건수_유선방송_전월', '증감_RP건수_건강_전월', '이용개월수_당사페이_R6M', '이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M']
최종 DataFrame shape: (3000000, 378)

In [5]:
# 추출: 모든 값이 동일한(상수) 컬럼 찾기
const_cols = [c for c in df.columns if df[c].nunique(dropna=False) == 1]

# 계산: 제거 대상 컬럼 목록 출력
print("모두 같은 값인 컬럼 (제거 대상):")
print(const_cols)

# 생성: 상수 컬럼 제거
df.drop(columns=const_cols, inplace=True)

# 확인: 최종 DataFrame 상태 출력
print("최종 DataFrame shape:", df.shape)

모두 같은 값인 컬럼 (제거 대상):
['RP후경과월_유선방송', 'RP후경과월_건강']
최종 DataFrame shape: (3000000, 376)

In [6]:
# 전체 컬럼 리스트 생성
cols = df.columns.tolist()

# 최빈값 비율이 99.9% 초과하는 컬럼 수집
low_variance_cols = []
for col in cols:
    # 컬럼별 최빈값 비율 확인
    top_ratio = df[col].value_counts(normalize=True, dropna=False).iloc[0]
    if top_ratio > 0.999:
        low_variance_cols.append(col)

# 제거 대상 컬럼 목록 출력
print("제거 대상 컬럼:", low_variance_cols)

# 제거 대상 컬럼 삭제
df.drop(columns=low_variance_cols, inplace=True)

# 최종 컬럼 리스트 출력
print("최종 컬럼 리스트:", df.columns.tolist())

제거 대상 컬럼: ['이용건수_카드론_B0M', '이용금액_카드론_B0M', '이용건수_부분무이자_R12M', '이용건수_부분무이자_R3M', '이용개월수_부분무이자_R3M', '교통_통행료이용금액', '할부건수_14M_R12M', '할부건수_유이자_14M_R12M', '할부건수_무이자_14M_R12M', '할부건수_부분_12M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_14M_R12M', 'RP건수_학습비_B0M', '증감_RP건수_아파트_전월', '증감_RP건수_제휴사서비스직접판매_전월', '증감_RP건수_학습비_전월', '신청건수_ATM_CL_B0', '신청건수_ATM_CL_R6M', '승인거절건수_BL_B0M', '승인거절건수_입력오류_R3M']
최종 컬럼 리스트: ['기준년월', 'ID', '최종이용일자_기본', '최종이용일자_신판', '최종이용일자_CA', '최종이용일자_카드론', '최종이용일자_체크', '최종이용일자_일시불', '최종이용일자_할부', '이용건수_신용_B0M', '이용건수_신판_B0M', '이용건수_일시불_B0M', '이용건수_할부_B0M', '이용건수_할부_유이자_B0M', '이용건수_할부_무이자_B0M', '이용건수_CA_B0M', '이용건수_체크_B0M', '이용금액_일시불_B0M', '이용금액_할부_B0M', '이용금액_할부_유이자_B0M', '이용금액_할부_무이자_B0M', '이용금액_CA_B0M', '이용금액_체크_B0M', '이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론', '이용건수_신용_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M', '이용건수_할부_R12M', '이용건수_할부_유이자_R12M', '이용건수_할부_무이자_R12M', '이용건수_CA_R12M', '이용건수_체크_R12M', '이용건수_카드론_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_할부_유이자_R12M', '이용금액_할부_무이자_R12M', '이용금액_부분무이자_R12M', '이용금액_CA_R12M', '이용금액_체크_R12M', '이용금액_카드론_R12M', '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_할부_유이자_R12M', '최대이용금액_할부_무이자_R12M', '최대이용금액_부분무이자_R12M', '최대이용금액_CA_R12M', '최대이용금액_체크_R12M', '최대이용금액_카드론_R12M', '이용개월수_신용_R12M', '이용개월수_신판_R12M', '이용개월수_일시불_R12M', '이용개월수_할부_R12M', '이용개월수_할부_유이자_R12M', '이용개월수_할부_무이자_R12M', '이용개월수_부분무이자_R12M', '이용개월수_CA_R12M', '이용개월수_체크_R12M', '이용개월수_카드론_R12M', '이용건수_신용_R6M', '이용건수_신판_R6M', '이용건수_일시불_R6M', '이용건수_할부_R6M', '이용건수_할부_유이자_R6M', '이용건수_할부_무이자_R6M', '이용건수_부분무이자_R6M', '이용건수_CA_R6M', '이용건수_체크_R6M', '이용건수_카드론_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_할부_유이자_R6M', '이용금액_할부_무이자_R6M', '이용금액_부분무이자_R6M', '이용금액_CA_R6M', '이용금액_체크_R6M', '이용금액_카드론_R6M', '이용개월수_신용_R6M', '이용개월수_신판_R6M', '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_할부_유이자_R6M', '이용개월수_할부_무이자_R6M', '이용개월수_부분무이자_R6M', '이용개월수_CA_R6M', '이용개월수_체크_R6M', '이용개월수_카드론_R6M', '이용건수_신용_R3M', '이용건수_신판_R3M', '이용건수_일시불_R3M', '이용건수_할부_R3M', '이용건수_할부_유이자_R3M', '이용건수_할부_무이자_R3M', '이용건수_CA_R3M', '이용건수_체크_R3M', '이용건수_카드론_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M', '이용금액_할부_유이자_R3M', '이용금액_할부_무이자_R3M', '이용금액_부분무이자_R3M', '이용금액_CA_R3M', '이용금액_체크_R3M', '이용금액_카드론_R3M', '이용개월수_신용_R3M', '이용개월수_신판_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_할부_유이자_R3M', '이용개월수_할부_무이자_R3M', '이용개월수_CA_R3M', '이용개월수_체크_R3M', '이용개월수_카드론_R3M', '이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부금액_부분_12M_R12M', 'RP건수_B0M', 'RP금액_B0M', 'RP유형건수_B0M', 'RP건수_통신_B0M', 'RP건수_아파트_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_렌탈_B0M', 'RP건수_가스_B0M', 'RP건수_전기_B0M', 'RP건수_보험_B0M', 'RP건수_교통_B0M', 'RP후경과월', 'RP후경과월_통신', 'RP후경과월_아파트', 'RP후경과월_제휴사서비스직접판매', 'RP후경과월_렌탈', 'RP후경과월_가스', 'RP후경과월_전기', 'RP후경과월_보험', 'RP후경과월_학습비', 'RP후경과월_교통', '증감_RP건수_전월', '증감_RP유형건수_전월', '증감_RP건수_통신_전월', '증감_RP건수_렌탈_전월', '증감_RP건수_가스_전월', '증감_RP건수_전기_전월', '증감_RP건수_보험_전월', '증감_RP건수_교통_전월', '최초카드론이용경과월', '최종카드론이용경과월', '카드론이용건수_누적', '카드론이용월수_누적', '카드론이용금액_누적', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', '최종카드론_대출이율', '최종카드론_대출일자', '최종카드론_대출월수', '최종카드론_거치개월수', '최종카드론_대출금액', '이용개월수_온라인_R6M', '이용개월수_오프라인_R6M', '이용금액_온라인_R6M', '이용금액_오프라인_R6M', '이용건수_온라인_R6M', '이용건수_오프라인_R6M', '이용금액_온라인_R3M', '이용금액_오프라인_R3M', '이용건수_온라인_R3M', '이용건수_오프라인_R3M', '이용금액_온라인_B0M', '이용금액_오프라인_B0M', '이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용개월수_페이_온라인_R6M', '이용개월수_페이_오프라인_R6M', '이용금액_페이_온라인_R6M', '이용금액_페이_오프라인_R6M', '이용건수_페이_온라인_R6M', '이용건수_페이_오프라인_R6M', '이용금액_페이_온라인_R3M', '이용금액_페이_오프라인_R3M', '이용건수_페이_온라인_R3M', '이용건수_페이_오프라인_R3M', '이용금액_페이_온라인_B0M', '이용금액_페이_오프라인_B0M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M', '이용개월수_간편결제_R6M', '이용개월수_당사기타_R6M', '이용개월수_A페이_R6M', '이용개월수_B페이_R6M', '이용개월수_C페이_R6M', '이용개월수_D페이_R6M', '이용금액_간편결제_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CA_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_기타_R3M', '이용금액대', 'Segment']

### 결측치 처리

In [7]:
# 전체 행 개수 계산
total_rows = len(df)

# 각 컬럼의 결측치 개수 계산
missing_count = df.isna().sum()

# 결측치 비율 계산 (전체 행 대비 %)
missing_pct = (missing_count / total_rows * 100).round(2)

# 결측치 정보 데이터프레임으로 정리
missing_info = pd.DataFrame({
    'missing_count': missing_count,
    'missing_pct': missing_pct
})

# 결측치가 있는 컬럼만 출력
print("\n결측치 정보 (개수 및 전체 대비 비율 %):")
print(missing_info[missing_info['missing_count'] > 0])

결측치 정보 (개수 및 전체 대비 비율 %):
                missing_count  missing_pct
_1순위업종                 676567        22.55
_2순위업종                1143812        38.13
_3순위업종                1387704        46.26
_1순위쇼핑업종              1155434        38.51
_2순위쇼핑업종              1421400        47.38
_3순위쇼핑업종              1643222        54.77
_1순위교통업종              1457454        48.58
_2순위교통업종              2071153        69.04
_3순위교통업종              2556184        85.21
_1순위여유업종              2485573        82.85
_2순위여유업종              2878107        95.94
_3순위여유업종              2972290        99.08
_1순위납부업종              1522257        50.74
_2순위납부업종              2543911        84.80
_3순위납부업종              2888898        96.30
최종카드론_금융상환방식코드        2447897        81.60
최종카드론_신청경로코드          2448009        81.60
최종카드론_대출일자            2485868        82.86
Segment                600000        20.00

### 날짜형, 순서형, 수치형 컬럼 찾아서 분리 후 처리하기

In [8]:
# 검사할 컬럼 리스트
c1 = list (df.columns)
cols_to_check = c1

# 비수치형 컬럼 저장용 리스트
non_numeric_cols = []

# 각 컬럼에 대해 수치형 변환 시도 후 NaN 비율로 판단
for col in cols_to_check:
    # 결측을 빈 문자열로, 나머지를 문자열로 변환
    s = df[col].fillna('').astype(str)
    # 숫자로 변환 (불가능한 항목은 NaN)
    num = pd.to_numeric(s, errors='coerce')
    # 변환 불가 비율 계산
    na_ratio = num.isna().mean()
    # 일정 비율 이상이면 비수치형으로 간주 (여기선 100% 미수치형도 포함)
    if na_ratio > 0:
        non_numeric_cols.append(col)

# 결과 출력
print("비수치형(또는 혼합형) 컬럼:", non_numeric_cols)

비수치형(또는 혼합형) 컬럼: ['ID', '_1순위업종', '_2순위업종', '_3순위업종', '_1순위쇼핑업종', '_2순위쇼핑업종', '_3순위쇼핑업종', '_1순위교통업종', '_2순위교통업종', '_3순위교통업종', '_1순위여유업종', '_2순위여유업종', '_3순위여유업종', '_1순위납부업종', '_2순위납부업종', '_3순위납부업종', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', '최종카드론_대출일자', '이용금액대', 'Segment']

In [9]:
# 각 컬럼별 분포(value_counts) 출력
c1 = list (df.columns)
for col in c1:
    print(f"▶ [{col}] 분포")
    print(df[col].value_counts(dropna=False))
    print()  # 빈 줄로 구분

▶ [기준년월] 분포
기준년월
201807    500000
201808    500000
201809    500000
201810    500000
201811    500000
201812    500000
Name: count, dtype: int64

▶ [ID] 분포
ID
TRAIN_000000    6
TRAIN_333343    6
TRAIN_333341    6
TRAIN_333340    6
TRAIN_333339    6
               ..
TRAIN_166662    6
TRAIN_166661    6
TRAIN_166660    6
TRAIN_166659    6
TEST_99999      6
Name: count, Length: 500000, dtype: int64

▶ [최종이용일자_기본] 분포
최종이용일자_기본
20180731    149387
20180930    127899
20180831    125873
20181130    117204
10101       116608
             ...
20160120         1
20160126         1
20141216         1
20151208         1
20151121         1
Name: count, Length: 1292, dtype: int64

▶ [최종이용일자_신판] 분포
최종이용일자_신판
20180731    149641
20180930    128068
20180831    126047
10101       117610
20181130    117247
             ...
20160120         1
20151208         1
20151101         1
20151206         1
20151029         1
Name: count, Length: 1277, dtype: int64

▶ [최종이용일자_CA] 분포
최종이용일자_CA
10101       2043433
20180629       3125
20180630       2944
20180628       2788
20180627       2756
             ...
20110722          6
20100504          6
20101031          6
20100910          6
20181231          1
Name: count, Length: 3154, dtype: int64

▶ [최종이용일자_카드론] 분포
최종이용일자_카드론
10101       2485868
20180406       1392
20180407       1391
20180404       1374
20180413       1344
             ...
20180911          4
20181014          3
20181126          2
20181215          1
20181212          1
Name: count, Length: 1684, dtype: int64

▶ [최종이용일자_체크] 분포
최종이용일자_체크
10101       1897000
20181231      35428
20181130      35093
20181031      32543
20180930      31782
             ...
20121219          6
20121004          6
20160501          6
20160604          3
20160923          1
Name: count, Length: 2259, dtype: int64

▶ [최종이용일자_일시불] 분포
최종이용일자_일시불
20180731    150371
20180930    127749
20180831    126300
10101       123459
20181130    116810
             ...
20160211         6
20160207         6
20160214         4
20160219         4
20160210         4
Name: count, Length: 1088, dtype: int64

▶ [최종이용일자_할부] 분포
최종이용일자_할부
10101       834228
20180629     13686
20180628     13247
20180630     13109
20180626     12540
             ...
20120731         6
20120703         6
20110525         6
20120625         6
20181231         4
Name: count, Length: 2281, dtype: int64

▶ [이용건수_신용_B0M] 분포
이용건수_신용_B0M
 0     248604
-1     240443
 1     203223
-2     164881
 2     152533
        ...
 86       315
 87       124
 88        23
 89         4
 90         1
Name: count, Length: 94, dtype: int64

▶ [이용건수_신판_B0M] 분포
이용건수_신판_B0M
 0     250116
-1     241586
 1     204493
-2     167955
 2     153337
        ...
 85       702
 86       284
 87       114
 88        20
 89         3
Name: count, Length: 93, dtype: int64

▶ [이용건수_일시불_B0M] 분포
이용건수_일시불_B0M
 0     251687
-1     242736
 1     205805
-2     168070
 2     154596
        ...
 84      1042
 85       453
 86       147
 87        33
 88         2
Name: count, Length: 92, dtype: int64

▶ [이용건수_할부_B0M] 분포
이용건수_할부_B0M
0    2655225
1     257901
2      78330
3       8544
Name: count, dtype: int64

▶ [이용건수_할부_유이자_B0M] 분포
이용건수_할부_유이자_B0M
0    2916426
1      83574
Name: count, dtype: int64

▶ [이용건수_할부_무이자_B0M] 분포
이용건수_할부_무이자_B0M
0    2690201
1     262979
2      46820
Name: count, dtype: int64

▶ [이용건수_CA_B0M] 분포
이용건수_CA_B0M
0    2876426
2     121822
1       1618
3        134
Name: count, dtype: int64

▶ [이용건수_체크_B0M] 분포
이용건수_체크_B0M
0     2609465
12      20891
13      20588
11      20562
10      19211
       ...
66        114
67         57
68         14
69          7
70          4
Name: count, Length: 72, dtype: int64

▶ [이용금액_일시불_B0M] 분포
이용금액_일시불_B0M
0        717744
2055        378
2040        366
1731        365
2008        355
          ...
28691         1
26103         1
27263         1
27410         1
27438         1
Name: count, Length: 29448, dtype: int64

▶ [이용금액_할부_B0M] 분포
이용금액_할부_B0M
0        2745197
4514         159
4097         158
4296         157
4352         156
          ...
10978          1
10596          1
11871          1
10777          1
2622           1
Name: count, Length: 9142, dtype: int64

▶ [이용금액_할부_유이자_B0M] 분포
이용금액_할부_유이자_B0M
0       2926858
4498         99
4418         89
4636         85
4359         84
         ...
6220          1
6062          1
1888          1
6457          1
3101          1
Name: count, Length: 3366, dtype: int64

▶ [이용금액_할부_무이자_B0M] 분포
이용금액_할부_무이자_B0M
0       2786985
4097        164
4186        154
4088        152
3960        152
         ...
7823          1
2588          1
7111          1
2376          1
2673          1
Name: count, Length: 5130, dtype: int64

▶ [이용금액_CA_B0M] 분포
이용금액_CA_B0M
0        2876434
6763          38
7092          31
7255          30
7921          30
          ...
24205          1
23427          1
20460          1
4844           1
20285          1
Name: count, Length: 16694, dtype: int64

▶ [이용금액_체크_B0M] 분포
이용금액_체크_B0M
 0        2608249
 2845         130
 2951         126
 3078         124
 2700         122
           ...
 70             1
 71             1
 14195          1
-486            1
 13440          1
Name: count, Length: 15004, dtype: int64

▶ [이용후경과월_신용] 분포
이용후경과월_신용
0     1595287
1      478298
12     369926
2      177461
3       89183
4       63413
8       47190
5       41219
7       34660
9       33153
6       31189
10      22791
11      16230
Name: count, dtype: int64

▶ [이용후경과월_신판] 분포
이용후경과월_신판
0     1535427
1      500608
12     379344
2      189254
3       93346
4       66405
8       51467
5       42256
7       35873
9       34458
6       31386
10      23407
11      16769
Name: count, dtype: int64

▶ [이용후경과월_일시불] 분포
이용후경과월_일시불
0     2165578
12     354493
1      169048
2       96831
3       61525
4       42473
5       27148
6       16215
10      14007
9       13789
7       13230
11      12916
8       12747
Name: count, dtype: int64

▶ [이용후경과월_할부] 분포
이용후경과월_할부
12    1614631
1      319044
8      190093
2      162931
0      155125
4      143512
3      142214
7       95225
9       76009
5       53596
6       46686
10        933
11          1
Name: count, dtype: int64

▶ [이용후경과월_할부_유이자] 분포
이용후경과월_할부_유이자
12    2364577
8      106666
1      102905
2       90639
3       71156
7       58579
4       54398
9       46720
0       35121
5       34821
6       33631
10        787
Name: count, dtype: int64

▶ [이용후경과월_할부_무이자] 분포
이용후경과월_할부_무이자
12    1732537
1      275923
8      172371
2      150010
3      142832
4      141526
0      126081
7      100240
5       54954
9       52582
6       50575
10        368
11          1
Name: count, dtype: int64

▶ [이용후경과월_부분무이자] 분포
이용후경과월_부분무이자
12    2946741
2       26014
5       12911
6        5532
7        2629
1        1740
8        1421
4        1341
3         814
9         353
11        286
10        211
0           7
Name: count, dtype: int64

▶ [이용후경과월_CA] 분포
이용후경과월_CA
12    2692765
0      123574
6       25296
5       24495
4       23628
3       22083
2       18464
7       17694
1       13819
8       12621
9        9362
10       8310
11       7889
Name: count, dtype: int64

▶ [이용후경과월_체크] 분포
이용후경과월_체크
12    2442414
0      390370
6       20975
7       19954
5       18913
8       17875
4       16560
9       15690
3       13383
10      13079
11      11025
2       10573
1        9189
Name: count, dtype: int64

▶ [이용후경과월_카드론] 분포
이용후경과월_카드론
12    2852652
6       18928
7       17936
8       17525
5       17120
4       15786
9       14018
3       12277
10      11656
11      11188
2        6894
1        3899
0         121
Name: count, dtype: int64

▶ [이용건수_신용_R12M] 분포
이용건수_신용_R12M
 0       346828
-1       330691
 3        28693
 2        19192
 4        16123
          ...
 1020         1
 1017         1
 1027         1
 1022         1
 1033         1
Name: count, Length: 1034, dtype: int64

▶ [이용건수_신판_R12M] 분포
이용건수_신판_R12M
 0       355028
-1       345885
 3        28996
 2        17845
 4        14826
          ...
 1029         1
 1034         1
 1020         1
 1022         1
 1033         1
Name: count, Length: 1030, dtype: int64

▶ [이용건수_일시불_R12M] 분포
이용건수_일시불_R12M
-1       406651
 0       360667
 16       10371
 17       10264
 11       10185
          ...
 998          2
 997          2
 999          1
 1002         1
 1003         1
Name: count, Length: 1007, dtype: int64

▶ [이용건수_할부_R12M] 분포
이용건수_할부_R12M
0     2095606
4      245610
3       88402
8       65477
7       59993
       ...
61          9
63          8
67          2
66          2
65          1
Name: count, Length: 67, dtype: int64

▶ [이용건수_할부_유이자_R12M] 분포
이용건수_할부_유이자_R12M
0     2683341
4      134891
3       52148
5       32243
7       16351
6       15205
8       14818
9       13393
10       8999
11       6874
12       6187
13       5211
14       3686
15       2131
16       1410
17       1074
18        711
19        467
20        323
21        210
22        155
23         89
24         38
25         23
26         10
2           6
27          3
30          2
28          1
Name: count, dtype: int64

▶ [이용건수_할부_무이자_R12M] 분포
이용건수_할부_무이자_R12M
0     2149870
4      264966
3       87392
5       74644
7       60211
       ...
58          7
56          4
59          3
60          2
61          1
Name: count, Length: 61, dtype: int64

▶ [이용건수_CA_R12M] 분포
이용건수_CA_R12M
0     2633595
3       53601
2       46292
4       44343
5       29269
1       25848
6       18094
7       12612
8       10465
9        9672
10       9255
11       9179
12       9037
13       8809
14       8572
15       8279
16       7922
17       7695
18       7308
19       6896
20       6476
21       6155
22       5346
23       4841
24       3954
25       3108
26       1978
27       1028
28        321
29         46
30          4
Name: count, dtype: int64

▶ [이용건수_체크_R12M] 분포
이용건수_체크_R12M
 0      2350410
-1        71444
 36        3596
 30        3592
 29        3576
         ...
 703          1
 705          1
 701          1
 693          1
 702          1
Name: count, Length: 703, dtype: int64

▶ [이용건수_카드론_R12M] 분포
이용건수_카드론_R12M
0    2837732
2      79905
1      79183
3       3180
Name: count, dtype: int64

▶ [이용금액_일시불_R12M] 분포
이용금액_일시불_R12M
0         351263
3004         100
3869          98
4003          98
2788          97
           ...
315984         1
473965         1
231649         1
196607         1
423882         1
Name: count, Length: 279319, dtype: int64

▶ [이용금액_할부_R12M] 분포
이용금액_할부_R12M
0         1651820
3569          739
3568          735
3567          728
3570          603
           ...
86509           1
41867           1
92579           1
62586           1
103516          1
Name: count, Length: 83329, dtype: int64

▶ [이용금액_할부_유이자_R12M] 분포
이용금액_할부_유이자_R12M
0        2379772
4174         249
4132         248
4160         242
4070         237
          ...
46090          1
33094          1
45628          1
48994          1
29711          1
Name: count, Length: 37976, dtype: int64

▶ [이용금액_할부_무이자_R12M] 분포
이용금액_할부_무이자_R12M
0         1774660
3569          773
3567          767
3568          766
3570          636
           ...
92567           1
173783          1
58935           1
53975           1
86775           1
Name: count, Length: 71947, dtype: int64

▶ [이용금액_부분무이자_R12M] 분포
이용금액_부분무이자_R12M
0        2940494
7976          75
7815          68
7820          66
7938          65
          ...
9938           1
10239          1
9617           1
18279          1
5881           1
Name: count, Length: 3601, dtype: int64

▶ [이용금액_CA_R12M] 분포
이용금액_CA_R12M
0         2620087
960000        127
5445           49
5029           48
4995           48
           ...
79131           1
43304           1
254748          1
413605          1
307192          1
Name: count, Length: 125919, dtype: int64

▶ [이용금액_체크_R12M] 분포
이용금액_체크_R12M
-414      1163697
 0            804
-390          448
 223          441
-280          440
           ...
 51760          1
 55511          1
 57364          1
 58933          1
 60818          1
Name: count, Length: 82197, dtype: int64

▶ [이용금액_카드론_R12M] 분포
이용금액_카드론_R12M
0         2859630
46808          85
46596          83
46898          81
46728          79
           ...
143445          1
145899          1
142423          1
140812          1
143357          1
Name: count, Length: 15443, dtype: int64

▶ [최대이용금액_일시불_R12M] 분포
최대이용금액_일시불_R12M
0         350831
14          6758
15          6482
13          6111
16          6026
           ...
54961          1
108514         1
88589          1
62415          1
130090         1
Name: count, Length: 89273, dtype: int64

▶ [최대이용금액_할부_R12M] 분포
최대이용금액_할부_R12M
0        1651565
5607         190
5483         187
5133         186
4350         183
          ...
30290          1
26826          1
35049          1
27779          1
25539          1
Name: count, Length: 32298, dtype: int64

▶ [최대이용금액_할부_유이자_R12M] 분포
최대이용금액_할부_유이자_R12M
0        2366540
4742         133
4850         128
3725         128
4385         127
          ...
23816          1
20969          1
17194          1
20786          1
16770          1
Name: count, Length: 20637, dtype: int64

▶ [최대이용금액_할부_무이자_R12M] 분포
최대이용금액_할부_무이자_R12M
0        1798196
4445         159
5414         154
4553         152
4835         151
          ...
27229          1
32974          1
31096          1
27600          1
25539          1
Name: count, Length: 32298, dtype: int64

▶ [최대이용금액_부분무이자_R12M] 분포
최대이용금액_부분무이자_R12M
0       2939449
7265         67
7287         67
7311         64
7215         64
         ...
9599          1
9065          1
8991          1
5999          1
6076          1
Name: count, Length: 3654, dtype: int64

▶ [최대이용금액_CA_R12M] 분포
최대이용금액_CA_R12M
0        2620100
3345          89
3727          88
3719          87
3897          85
          ...
56262          1
36885          1
75893          1
31895          1
46443          1
Name: count, Length: 47734, dtype: int64

▶ [최대이용금액_체크_R12M] 분포
최대이용금액_체크_R12M
0        2347648
1018         381
978          380
1032         376
1010         375
          ...
26075          1
59195          1
51919          1
14138          1
38014          1
Name: count, Length: 53011, dtype: int64

▶ [최대이용금액_카드론_R12M] 분포
최대이용금액_카드론_R12M
0         2867381
20736          98
20784          94
20804          87
20851          85
           ...
78503           1
78475           1
190915          1
23727           1
78633           1
Name: count, Length: 20077, dtype: int64

▶ [이용개월수_신용_R12M] 분포
이용개월수_신용_R12M
12    1566654
0      335060
10     223087
9      178811
8      104797
2      100279
3       91625
7       80703
5       78953
4       78672
6       75472
11      48380
1       37507
Name: count, dtype: int64

▶ [이용개월수_신판_R12M] 분포
이용개월수_신판_R12M
12    1561238
0      341141
10     199285
9      183557
8      111651
2      102113
3       91544
7       82412
4       78536
5       78383
6       75308
11      47980
1       46852
Name: count, dtype: int64

▶ [이용개월수_일시불_R12M] 분포
이용개월수_일시불_R12M
12    1554136
0      355464
10     205631
9      175135
8      107082
2       98691
3       90632
7       83297
5       81088
4       79917
6       77473
11      48174
1       43280
Name: count, dtype: int64

▶ [이용개월수_할부_R12M] 분포
이용개월수_할부_R12M
0     1604923
1      378441
2      246872
3      168608
4      119722
5       90771
8       79091
10      78213
6       76074
7       74550
9       73840
11       8895
Name: count, dtype: int64

▶ [이용개월수_할부_유이자_R12M] 분포
이용개월수_할부_유이자_R12M
0    2349313
1     298819
2     161425
3      97460
4      91004
5       1979
Name: count, dtype: int64

▶ [이용개월수_할부_무이자_R12M] 분포
이용개월수_할부_무이자_R12M
0     1731929
1      351253
2      244356
3      170940
4      113396
5       84002
7       83825
6       76486
8       74313
9       69499
10          1
Name: count, dtype: int64

▶ [이용개월수_부분무이자_R12M] 분포
이용개월수_부분무이자_R12M
0    2939882
1      60118
Name: count, dtype: int64

▶ [이용개월수_CA_R12M] 분포
이용개월수_CA_R12M
0     2623287
2      105798
3       53715
1       38765
8       37216
7       33563
4       24615
6       23153
9       23070
5       20235
12      11532
10       4946
11        105
Name: count, dtype: int64

▶ [이용개월수_체크_R12M] 분포
이용개월수_체크_R12M
0     2348237
12     205745
3      120084
8      101098
7       62656
4       46074
2       38172
6       24431
9       24268
5       22946
1        5838
10        451
Name: count, dtype: int64

▶ [이용개월수_카드론_R12M] 분포
이용개월수_카드론_R12M
0    2843188
1     151188
2       5624
Name: count, dtype: int64

▶ [이용건수_신용_R6M] 분포
이용건수_신용_R6M
-2      295938
-1       62553
 0       58679
 1       53460
 2       47593
         ...
 547         1
 542         1
 548         1
 545         1
 539         1
Name: count, Length: 564, dtype: int64

▶ [이용건수_신판_R6M] 분포
이용건수_신판_R6M
-2      303051
-1       63795
 0       59114
 1       53476
 2       47688
         ...
 545         1
 548         1
 542         1
 547         1
 539         1
Name: count, Length: 564, dtype: int64

▶ [이용건수_일시불_R6M] 분포
이용건수_일시불_R6M
-2      338160
-1       55554
 0       53286
 1       49314
 2       45533
         ...
 531         6
 533         4
 537         1
 536         1
 535         1
Name: count, Length: 555, dtype: int64

▶ [이용건수_할부_R6M] 분포
이용건수_할부_R6M
 0     2153243
 1      215677
 2      146552
 3       90865
 6       70336
 4       64087
 5       55854
 7       41435
 8       30150
 12      24440
 9       20907
 10      16404
 11      16168
 13      11080
 16       7921
 14       7753
 15       7447
 17       7408
 18       5218
 19       2924
 20       1759
-1        1288
 21        801
 22        235
 23         42
 24          6
Name: count, dtype: int64

▶ [이용건수_할부_유이자_R6M] 분포
이용건수_할부_유이자_R6M
 0    2679100
 1     148399
 2      62208
 3      31524
 5      28530
 4      28473
 6      17184
-1       4582
Name: count, dtype: int64

▶ [이용건수_할부_무이자_R6M] 분포
이용건수_할부_무이자_R6M
 0     2237185
 1      196910
 2      150225
 3       94172
 6       69174
 4       55878
 5       47028
 7       36863
 8       23945
 12      19964
 9       12917
 11      11788
 10      10714
 15       6651
 16       6469
 14       6225
 13       5830
 17       4875
 18       1953
-1        1032
 19        201
 20          1
Name: count, dtype: int64

▶ [이용건수_부분무이자_R6M] 분포
이용건수_부분무이자_R6M
0    2988280
1      11720
Name: count, dtype: int64

▶ [이용건수_CA_R6M] 분포
이용건수_CA_R6M
0     2770549
2       42142
3       28467
12      27659
1       18382
10      16647
9       15756
4       15584
11      14162
8       11694
6       10753
5       10515
7        9281
13       5928
14       2053
15        401
16         23
18          2
17          2
Name: count, dtype: int64

▶ [이용건수_체크_R6M] 분포
이용건수_체크_R6M
 0      2495938
-1        30521
 13        4285
 15        4205
 10        4171
         ...
 409          1
 402          1
-6            1
 404          1
 401          1
Name: count, Length: 411, dtype: int64

▶ [이용건수_카드론_R6M] 분포
이용건수_카드론_R6M
0    2947198
1      52579
2        223
Name: count, dtype: int64

▶ [이용금액_일시불_R6M] 분포
이용금액_일시불_R6M
 0         339255
-11655       3406
-724          182
-637          181
-625          178
            ...
 119154         1
 72205          1
 142985         1
 115495         1
 144181         1
Name: count, Length: 148969, dtype: int64

▶ [이용금액_할부_R6M] 분포
이용금액_할부_R6M
 0        1441437
-5           8907
-6           8811
-4           8762
-3           8604
           ...
-4503           1
 35238          1
 52214          1
 45898          1
 36883          1
Name: count, Length: 57719, dtype: int64

▶ [이용금액_할부_유이자_R6M] 분포
이용금액_할부_유이자_R6M
 0        2702740
 4800          54
 4984          54
 4674          53
 5154          51
           ...
 30528          1
-7281           1
 1061           1
 33215          1
 26703          1
Name: count, Length: 35986, dtype: int64

▶ [이용금액_할부_무이자_R6M] 분포
이용금액_할부_무이자_R6M
 0        2262609
 4824          96
 5135          91
 5144          88
 4867          88
           ...
 41186          1
 34133          1
 44857          1
-5091           1
 36195          1
Name: count, Length: 46324, dtype: int64

▶ [이용금액_부분무이자_R6M] 분포

In [10]:
# 이름에 '일자'가 들어가는 모든 컬럼 찾기
date_cols = [c for c in df.columns if '일자' in c]

# 각 일자 컬럼에 대해 _dt 컬럼 생성
for col in date_cols:
    # 문자열로 변환 후, '.0'이 있으면 제거
    s = df[col].astype(str).str.replace(r'\.0$', '', regex=True)
    # YYYYMMDD 포맷으로 파싱 (파싱 실패 시 NaT)
    df[f'{col}_dt'] = pd.to_datetime(s, format='%Y%m%d', errors='coerce')

# 원본 일자 컬럼 삭제
df.drop(columns=date_cols, inplace=True)

In [11]:
# 이용금액대 순서형 인코딩 → '_ord' 생성 & 원본 삭제
ord_levels_amt = [
    "09.미사용",
    "05.10만원-",
    "02.50만원+",
    "04.10만원+",
    "03.30만원+",
    "01.100만원+"
]
mapping_amt = {lvl: i+1 for i, lvl in enumerate(ord_levels_amt)}
df['이용금액대_ord'] = df['이용금액대'].map(mapping_amt)
df.drop(columns=['이용금액대'], inplace=True)

In [12]:
# 저장 직전의 컬럼과 0/NaN 컬럼 재확인
zero_cols = [c for c in df.columns if df[c].eq(0).all()]
na_cols   = [c for c in df.columns if df[c].isna().any()]

print("저장 직전 0 전부 컬럼:", zero_cols)
print("저장 직전 NaN 있는 컬럼:", na_cols)
print("저장 직전 전체 컬럼 수:", len(df.columns))

저장 직전 0 전부 컬럼: []
저장 직전 NaN 있는 컬럼: ['_1순위업종', '_2순위업종', '_3순위업종', '_1순위쇼핑업종', '_2순위쇼핑업종', '_3순위쇼핑업종', '_1순위교통업종', '_2순위교통업종', '_3순위교통업종', '_1순위여유업종', '_2순위여유업종', '_3순위여유업종', '_1순위납부업종', '_2순위납부업종', '_3순위납부업종', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', 'Segment', '최종이용일자_기본_dt', '최종이용일자_신판_dt', '최종이용일자_CA_dt', '최종이용일자_카드론_dt', '최종이용일자_체크_dt', '최종이용일자_일시불_dt', '최종이용일자_할부_dt', '최종카드론_대출일자_dt']
저장 직전 전체 컬럼 수: 356

In [13]:
# Parquet 파일로 저장
df.to_parquet('승인매출정보_전처리.parquet', engine='pyarrow', index=False)

In [14]:
# 저장된 파일 불러와서 확인하기
df2 = pd.read_parquet('승인매출정보_전처리.parquet')
zero_after = [c for c in df2.columns if df2[c].eq(0).all()]
na_after   = [c for c in df2.columns if df2[c].isna().any()]

print("로드 후 0 전부 컬럼:", zero_after)
print("로드 후 NaN 있는 컬럼:", na_after)
print("로드 후 전체 컬럼 수:", len(df2.columns))

로드 후 0 전부 컬럼: []
로드 후 NaN 있는 컬럼: ['_1순위업종', '_2순위업종', '_3순위업종', '_1순위쇼핑업종', '_2순위쇼핑업종', '_3순위쇼핑업종', '_1순위교통업종', '_2순위교통업종', '_3순위교통업종', '_1순위여유업종', '_2순위여유업종', '_3순위여유업종', '_1순위납부업종', '_2순위납부업종', '_3순위납부업종', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', 'Segment', '최종이용일자_기본_dt', '최종이용일자_신판_dt', '최종이용일자_CA_dt', '최종이용일자_카드론_dt', '최종이용일자_체크_dt', '최종이용일자_일시불_dt', '최종이용일자_할부_dt', '최종카드론_대출일자_dt']
로드 후 전체 컬럼 수: 356