In [1]:
# 기본 라이브러리 임포트
import pandas as pd             
import numpy as np             
import matplotlib.pyplot as plt 
import seaborn as sns           
import gc                       # 가비지 컬렉션(메모리 해제)
import re                       # 정규 표현식 처리
from collections import defaultdict  # 기본값이 있는 딕셔너리 생성

# 경고 메시지 억제
import warnings
warnings.filterwarnings('ignore')   

# 그래프 스타일 설정
sns.set()                           # seaborn 기본 스타일 적용

# matplotlib 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'  
plt.rcParams['figure.figsize'] = (12, 6)       # 그림 크기 설정 (가로, 세로)
plt.rcParams['font.size'] = 14                 # 폰트 크기 설정
plt.rcParams['axes.unicode_minus'] = False     # 마이너스 기호 깨짐 방지

# 결측치 시각화 라이브러리 임포트
import missingno                          # 결측치 분포를 시각화하는 유틸리티

# 범주형 변수 레이블 인코딩을 위한 도구 임포트
from sklearn.preprocessing import LabelEncoder

# 중복 조합 생성에 사용할 product 함수 임포트
from itertools import product

# 회귀 및 통계 분석을 위한 statsmodels 임포트
import statsmodels.api as sm

# 다중공선성 진단용 VIF 계산 함수 임포트
from statsmodels.stats.outliers_influence import variance_inflation_factor

### 데이터 병합

In [2]:
# 채널정보 파일 읽기
channel_df = pd.read_parquet('open/concat/2018_잔액정보.parquet')

# 회원정보 파일 읽기
member_df  = pd.read_parquet('open/concat/2018_회원정보.parquet')

# 회원정보에서 ID와 Segment 컬럼만 추출
member_seg = member_df[['ID', 'Segment']]

# 중복된 ID 개수 확인
dup_count = member_seg['ID'].duplicated().sum()
print(f'중복된 ID 개수: {dup_count}')

# 중복된 ID를 첫 번째 항목만 남기고 제거
member_seg_unique = member_seg.drop_duplicates(subset='ID', keep='first')
print(f'중복 제거 후 행 수: {len(member_seg_unique)}')

# 채널정보에 Segment 컬럼 병합 (1:1 조인 보장)
df = channel_df.merge(member_seg_unique, on='ID', how='left')

# 결과 확인
print("병합 후 데이터프레임 크기:", df.shape)
print(df.head())

# 병합된 파일 저장
df.to_parquet('2018_잔액정보_with_segment.parquet', index=False)

중복된 ID 개수: 2500000
중복 제거 후 행 수: 500000
병합 후 데이터프레임 크기: (3000000, 83)
     기준년월            ID  잔액_일시불_B0M  잔액_할부_B0M  잔액_현금서비스_B0M  잔액_리볼빙일시불이월_B0M  \
0  201807  TRAIN_000000         998        962         22971                0
1  201807  TRAIN_000001        2565       2390             0                0
2  201807  TRAIN_000002        5312       5113         21531             6795
3  201807  TRAIN_000003         730       5025         26284                0
4  201807  TRAIN_000004           0          0             0                0

   잔액_리볼빙CA이월_B0M  잔액_카드론_B0M  월중평잔_일시불_B0M  월중평잔_할부_B0M  ...  평잔_일시불_6M  \
0               0           0          1084          547  ...       2440
1               0           0          4090         2553  ...       2677
2               0           0          5006         8778  ...       9118
3               0           0           487         5607  ...        884
4               0           0             0            0  ...         21

   평잔_일시불_해외_6M  평잔_RV일시불_6M  평잔_RV일시불_해외_6M  평잔_할부_6M  평잔_할부_해외_6M  평잔_CA_6M  \
0             0            0               0       572            0     17008
1             0         2830               0      2736            0         0
2             0         8870               0      4429            0     43351
3             0            0               0      5097            0     30697
4             0            0               0         0            0         0

   평잔_CA_해외_6M  평잔_카드론_6M  Segment
0            0          0        D
1            0          0        E
2            0          0        C
3            0          0        D
4            0          0        E

[5 rows x 83 columns]

In [3]:
# 데이터를 불러온다.
df = pd.read_parquet('2018_잔액정보_with_segment.parquet')
df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M,Segment
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,2677,0,2830,0,2736,0,0,0,0,E
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,9118,0,8870,0,4429,0,43351,0,0,C
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,884,0,0,0,5097,0,30697,0,0,D
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,201812,TEST_99995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
2999996,201812,TEST_99996,191,0,0,0,0,0,260,0,...,137,0,0,0,0,0,0,0,0,None
2999997,201812,TEST_99997,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
2999998,201812,TEST_99998,17916,2786,0,0,0,0,16911,2081,...,18108,240,0,0,1830,0,0,0,0,None
2999999,201812,TEST_99999,44,0,0,0,0,0,37,0,...,9,0,0,0,0,0,0,0,0,None

### 결측치 찾기

In [4]:
# 전체 행 개수 계산
total_rows = len(df)

# 각 컬럼의 결측치 개수 계산
missing_count = df.isna().sum()

# 결측치 비율 계산 (전체 행 대비 %)
missing_pct = (missing_count / total_rows * 100).round(2)

# 결측치 정보 데이터프레임으로 정리
missing_info = pd.DataFrame({
    'missing_count': missing_count,
    'missing_pct': missing_pct
})

# 결측치가 있는 컬럼만 출력
print("\n결측치 정보 (개수 및 전체 대비 비율 %):")
print(missing_info[missing_info['missing_count'] > 0])

결측치 정보 (개수 및 전체 대비 비율 %):
          missing_count  missing_pct
연체일자_B0M        2992941        99.76
Segment          600000        20.00

### 값이 하나 뿐인 컬럼과 값이 모두 0인 컬럼도 제외

In [5]:
# 전부 0인 컬럼 찾기
zero_cols = [c for c in df.columns if df[c].eq(0).all()]

print("모두 0인 컬럼 (제거 대상):")
print(zero_cols)

# 전부 0인 컬럼 제거
df.drop(columns=zero_cols, inplace = True)

# 4) 결과 확인
print("최종 DataFrame shape:", df.shape)
print("남은 컬럼:", df.columns.tolist())

모두 0인 컬럼 (제거 대상):
['카드론잔액_최종경과월', '최종연체개월수_R15M', 'RV잔액이월횟수_R6M', 'RV잔액이월횟수_R3M', '연체잔액_일시불_해외_B0M', '연체잔액_RV일시불_해외_B0M', '연체잔액_할부_해외_B0M', '연체잔액_CA_해외_B0M']
최종 DataFrame shape: (3000000, 75)
남은 컬럼: ['기준년월', 'ID', '잔액_일시불_B0M', '잔액_할부_B0M', '잔액_현금서비스_B0M', '잔액_리볼빙일시불이월_B0M', '잔액_리볼빙CA이월_B0M', '잔액_카드론_B0M', '월중평잔_일시불_B0M', '월중평잔_할부_B0M', '월중평잔_CA_B0M', '연체일자_B0M', '연체잔액_B0M', '연체잔액_일시불_B0M', '연체잔액_할부_B0M', '연체잔액_현금서비스_B0M', '연체잔액_카드론_B0M', '연체잔액_대환론_B0M', '잔액_현금서비스_B1M', '잔액_현금서비스_B2M', '잔액_카드론_B1M', '잔액_카드론_B2M', '잔액_카드론_B3M', '잔액_카드론_B4M', '잔액_카드론_B5M', '잔액_할부_B1M', '잔액_할부_B2M', '잔액_일시불_B1M', '잔액_일시불_B2M', '연체일수_B1M', '연체일수_B2M', '연체원금_B1M', '연체원금_B2M', '연체일수_최근', '연체원금_최근', '최종연체회차', '매각잔액_B1M', 'RV_평균잔액_R12M', 'RV_최대잔액_R12M', 'RV_평균잔액_R6M', 'RV_최대잔액_R6M', 'RV_평균잔액_R3M', 'RV_최대잔액_R3M', '잔액_할부_유이자_B0M', '잔액_할부_무이자_B0M', '잔액_할부_해외_B0M', '연체잔액_RV일시불_B0M', '연체잔액_CA_B0M', '월중평잔', '월중평잔_일시불', '월중평잔_RV일시불', '월중평잔_할부', '월중평잔_CA', '월중평잔_카드론', '평잔_3M', '평잔_일시불_3M', '평잔_일시불_해외_3M', '평잔_RV일시불_3M', '평잔_RV일시불_해외_3M', '평잔_할부_3M', '평잔_할부_해외_3M', '평잔_CA_3M', '평잔_CA_해외_3M', '평잔_카드론_3M', '평잔_6M', '평잔_일시불_6M', '평잔_일시불_해외_6M', '평잔_RV일시불_6M', '평잔_RV일시불_해외_6M', '평잔_할부_6M', '평잔_할부_해외_6M', '평잔_CA_6M', '평잔_CA_해외_6M', '평잔_카드론_6M', 'Segment']

In [6]:
# 모든 값이 동일한(상수) 컬럼 찾기
const_cols = [c for c in df.columns if df[c].nunique(dropna=False) == 1]

# 제거 대상 컬럼 목록 출력
print("모두 같은 값인 컬럼 (제거 대상):")
print(const_cols)

# 상수 컬럼 제거
df.drop(columns=const_cols, inplace=True)

# 결과 확인
print("최종 DataFrame shape:", df.shape)
print("남은 컬럼:", df.columns.tolist())

모두 같은 값인 컬럼 (제거 대상):
[]
최종 DataFrame shape: (3000000, 75)
남은 컬럼: ['기준년월', 'ID', '잔액_일시불_B0M', '잔액_할부_B0M', '잔액_현금서비스_B0M', '잔액_리볼빙일시불이월_B0M', '잔액_리볼빙CA이월_B0M', '잔액_카드론_B0M', '월중평잔_일시불_B0M', '월중평잔_할부_B0M', '월중평잔_CA_B0M', '연체일자_B0M', '연체잔액_B0M', '연체잔액_일시불_B0M', '연체잔액_할부_B0M', '연체잔액_현금서비스_B0M', '연체잔액_카드론_B0M', '연체잔액_대환론_B0M', '잔액_현금서비스_B1M', '잔액_현금서비스_B2M', '잔액_카드론_B1M', '잔액_카드론_B2M', '잔액_카드론_B3M', '잔액_카드론_B4M', '잔액_카드론_B5M', '잔액_할부_B1M', '잔액_할부_B2M', '잔액_일시불_B1M', '잔액_일시불_B2M', '연체일수_B1M', '연체일수_B2M', '연체원금_B1M', '연체원금_B2M', '연체일수_최근', '연체원금_최근', '최종연체회차', '매각잔액_B1M', 'RV_평균잔액_R12M', 'RV_최대잔액_R12M', 'RV_평균잔액_R6M', 'RV_최대잔액_R6M', 'RV_평균잔액_R3M', 'RV_최대잔액_R3M', '잔액_할부_유이자_B0M', '잔액_할부_무이자_B0M', '잔액_할부_해외_B0M', '연체잔액_RV일시불_B0M', '연체잔액_CA_B0M', '월중평잔', '월중평잔_일시불', '월중평잔_RV일시불', '월중평잔_할부', '월중평잔_CA', '월중평잔_카드론', '평잔_3M', '평잔_일시불_3M', '평잔_일시불_해외_3M', '평잔_RV일시불_3M', '평잔_RV일시불_해외_3M', '평잔_할부_3M', '평잔_할부_해외_3M', '평잔_CA_3M', '평잔_CA_해외_3M', '평잔_카드론_3M', '평잔_6M', '평잔_일시불_6M', '평잔_일시불_해외_6M', '평잔_RV일시불_6M', '평잔_RV일시불_해외_6M', '평잔_할부_6M', '평잔_할부_해외_6M', '평잔_CA_6M', '평잔_CA_해외_6M', '평잔_카드론_6M', 'Segment']

In [7]:
# 전체 컬럼 리스트 생성
cols = df.columns.tolist()

# 최빈값 비율이 99.9% 초과하는 컬럼 수집
low_variance_cols = []
for col in cols:
    # 계산: 컬럼별 최빈값 비율 확인
    top_ratio = df[col].value_counts(normalize=True, dropna=False).iloc[0]
    if top_ratio > 0.999:
        low_variance_cols.append(col)

# 제거 대상 컬럼 목록 출력
print("제거 대상 컬럼:", low_variance_cols)

# 제거 대상 컬럼 삭제
df.drop(columns=low_variance_cols, inplace=True)

# 결과 확인
print("최종 컬럼 리스트:", df.columns.tolist())

제거 대상 컬럼: ['잔액_리볼빙CA이월_B0M', '연체잔액_현금서비스_B0M', '연체잔액_카드론_B0M', '연체잔액_대환론_B0M', '매각잔액_B1M', '잔액_할부_해외_B0M', '연체잔액_RV일시불_B0M', '연체잔액_CA_B0M', '평잔_할부_해외_3M', '평잔_CA_해외_3M', '평잔_CA_해외_6M']
최종 컬럼 리스트: ['기준년월', 'ID', '잔액_일시불_B0M', '잔액_할부_B0M', '잔액_현금서비스_B0M', '잔액_리볼빙일시불이월_B0M', '잔액_카드론_B0M', '월중평잔_일시불_B0M', '월중평잔_할부_B0M', '월중평잔_CA_B0M', '연체일자_B0M', '연체잔액_B0M', '연체잔액_일시불_B0M', '연체잔액_할부_B0M', '잔액_현금서비스_B1M', '잔액_현금서비스_B2M', '잔액_카드론_B1M', '잔액_카드론_B2M', '잔액_카드론_B3M', '잔액_카드론_B4M', '잔액_카드론_B5M', '잔액_할부_B1M', '잔액_할부_B2M', '잔액_일시불_B1M', '잔액_일시불_B2M', '연체일수_B1M', '연체일수_B2M', '연체원금_B1M', '연체원금_B2M', '연체일수_최근', '연체원금_최근', '최종연체회차', 'RV_평균잔액_R12M', 'RV_최대잔액_R12M', 'RV_평균잔액_R6M', 'RV_최대잔액_R6M', 'RV_평균잔액_R3M', 'RV_최대잔액_R3M', '잔액_할부_유이자_B0M', '잔액_할부_무이자_B0M', '월중평잔', '월중평잔_일시불', '월중평잔_RV일시불', '월중평잔_할부', '월중평잔_CA', '월중평잔_카드론', '평잔_3M', '평잔_일시불_3M', '평잔_일시불_해외_3M', '평잔_RV일시불_3M', '평잔_RV일시불_해외_3M', '평잔_할부_3M', '평잔_CA_3M', '평잔_카드론_3M', '평잔_6M', '평잔_일시불_6M', '평잔_일시불_해외_6M', '평잔_RV일시불_6M', '평잔_RV일시불_해외_6M', '평잔_할부_6M', '평잔_할부_해외_6M', '평잔_CA_6M', '평잔_카드론_6M', 'Segment']

### 비수치형 또는 혼합형 컬럼 찾아 숫자로 변환하기

In [8]:
# 각 컬럼별 분포(value_counts) 출력
c1 = list (df.columns)
for col in c1:
    print(f"▶ [{col}] 분포")
    print(df[col].value_counts(dropna=False))
    print()  # 빈 줄로 구분

▶ [기준년월] 분포
기준년월
201807    500000
201808    500000
201809    500000
201810    500000
201811    500000
201812    500000
Name: count, dtype: int64

▶ [ID] 분포
ID
TRAIN_000000    6
TRAIN_333343    6
TRAIN_333341    6
TRAIN_333340    6
TRAIN_333339    6
               ..
TRAIN_166662    6
TRAIN_166661    6
TRAIN_166660    6
TRAIN_166659    6
TEST_99999      6
Name: count, Length: 500000, dtype: int64

▶ [잔액_일시불_B0M] 분포
잔액_일시불_B0M
0        858154
7          1546
8          1544
9          1363
10         1211
          ...
73352         1
39756         1
87865         1
39660         1
56513         1
Name: count, Length: 49951, dtype: int64

▶ [잔액_할부_B0M] 분포
잔액_할부_B0M
0        2038700
1601         344
1809         343
1714         343
1712         340
          ...
37273          1
33015          1
35442          1
23363          1
27201          1
Name: count, Length: 28506, dtype: int64

▶ [잔액_현금서비스_B0M] 분포
잔액_현금서비스_B0M
0        2852256
8166          29
7372          25
6606          25
8157          25
          ...
34683          1
36469          1
20493          1
38036          1
44858          1
Name: count, Length: 31721, dtype: int64

▶ [잔액_리볼빙일시불이월_B0M] 분포
잔액_리볼빙일시불이월_B0M
0        2917201
10752         18
11149         17
13431         17
8882          17
          ...
23194          1
23789          1
22407          1
24526          1
22906          1
Name: count, Length: 17466, dtype: int64

▶ [잔액_카드론_B0M] 분포
잔액_카드론_B0M
0         2817523
15573          14
20302          13
14058          13
20021          13
           ...
59295           1
192518          1
84938           1
29980           1
112441          1
Name: count, Length: 71953, dtype: int64

▶ [월중평잔_일시불_B0M] 분포
월중평잔_일시불_B0M
0        833823
7          1919
8          1885
9          1608
10         1239
          ...
73065         1
36497         1
56219         1
57807         1
49831         1
Name: count, Length: 53212, dtype: int64

▶ [월중평잔_할부_B0M] 분포
월중평잔_할부_B0M
0        1954749
1428         401
1155         394
1192         394
1074         393
          ...
28708          1
23548          1
26763          1
63079          1
45745          1
Name: count, Length: 43675, dtype: int64

▶ [월중평잔_CA_B0M] 분포
월중평잔_CA_B0M
0        2819196
3920          37
3237          36
3291          36
3438          36
          ...
16085          1
43784          1
19505          1
43959          1
62242          1
Name: count, Length: 38162, dtype: int64

▶ [연체일자_B0M] 분포
연체일자_B0M
NaN           2992941
20180521.0        105
20180517.0        104
20180520.0         98
20180523.0         97
               ...
20180407.0          2
20181024.0          2
20181023.0          2
20181026.0          1
20181022.0          1
Name: count, Length: 202, dtype: int64

▶ [연체잔액_B0M] 분포
연체잔액_B0M
0        2995567
3737           7
3766           7
1260           7
3681           7
          ...
20439          1
17737          1
20549          1
13987          1
2079           1
Name: count, Length: 2510, dtype: int64

▶ [연체잔액_일시불_B0M] 분포
연체잔액_일시불_B0M
0       2996561
1446         13
1308         12
1352         12
1181         12
         ...
1493          1
871           1
1786          1
851           1
649           1
Name: count, Length: 947, dtype: int64

▶ [연체잔액_할부_B0M] 분포
연체잔액_할부_B0M
0       2996709
2288         12
2430         11
2426         11
2460         11
         ...
2793          1
2148          1
2191          1
2838          1
2079          1
Name: count, Length: 882, dtype: int64

▶ [잔액_현금서비스_B1M] 분포
잔액_현금서비스_B1M
0        2843057
6861          30
5541          28
6825          27
5659          27
          ...
37774          1
45999          1
26991          1
40812          1
49336          1
Name: count, Length: 37720, dtype: int64

▶ [잔액_현금서비스_B2M] 분포
잔액_현금서비스_B2M
0        2840001
6861          28
5541          27
6526          26
6490          26
          ...
19704          1
15575          1
16655          1
34063          1
68575          1
Name: count, Length: 37427, dtype: int64

▶ [잔액_카드론_B1M] 분포
잔액_카드론_B1M
0         2815387
244906         23
15549          14
17494          14
15656          14
           ...
70839           1
132874          1
61457           1
88011           1
119855          1
Name: count, Length: 77167, dtype: int64

▶ [잔액_카드론_B2M] 분포
잔액_카드론_B2M
0         2813529
244906         18
15656          15
23701          14
19334          14
           ...
51115           1
199910          1
156940          1
85786           1
110940          1
Name: count, Length: 77912, dtype: int64

▶ [잔액_카드론_B3M] 분포
잔액_카드론_B3M
0         2812519
230000         16
16179          13
25240          12
34389          12
           ...
126442          1
86108           1
52067           1
107162          1
109568          1
Name: count, Length: 78299, dtype: int64

▶ [잔액_카드론_B4M] 분포
잔액_카드론_B4M
0         2811138
230000         23
25851          13
25388          13
16179          13
           ...
77802           1
80924           1
64906           1
68946           1
109613          1
Name: count, Length: 78385, dtype: int64

▶ [잔액_카드론_B5M] 분포
잔액_카드론_B5M
0         2805949
230000         26
21809          15
20989          14
24000          13
           ...
66144           1
116088          1
35131           1
70975           1
130760          1
Name: count, Length: 79328, dtype: int64

▶ [잔액_할부_B1M] 분포
잔액_할부_B1M
0        1983744
1291         371
1220         366
1065         364
1357         363
          ...
61183          1
99406          1
22806          1
44010          1
26575          1
Name: count, Length: 45434, dtype: int64

▶ [잔액_할부_B2M] 분포
잔액_할부_B2M
0        1970178
1220         353
1203         350
1338         349
1291         348
          ...
55308          1
40427          1
33828          1
53568          1
80055          1
Name: count, Length: 47595, dtype: int64

▶ [잔액_일시불_B1M] 분포
잔액_일시불_B1M
0         858129
8           1832
9           1744
6           1744
7           1722
           ...
112477         1
70801          1
65789          1
39141          1
73863          1
Name: count, Length: 55242, dtype: int64

▶ [잔액_일시불_B2M] 분포
잔액_일시불_B2M
0        864147
6          1729
7          1651
8          1651
9          1506
          ...
61855         1
66095         1
89825         1
35318         1
56805         1
Name: count, Length: 55070, dtype: int64

▶ [연체일수_B1M] 분포
연체일수_B1M
-999999    2650810
 0          347800
 1            1390
Name: count, dtype: int64

▶ [연체일수_B2M] 분포
연체일수_B2M
-999999    2637352
 0          361342
 1            1306
Name: count, dtype: int64

▶ [연체원금_B1M] 분포
연체원금_B1M
0        2985633
1068          12
860           11
1174          11
1041          10
          ...
7088           1
10538          1
5656           1
2210           1
6492           1
Name: count, Length: 6962, dtype: int64

▶ [연체원금_B2M] 분포
연체원금_B2M
0       2983822
1068         12
860          11
2739         11
1174         10
         ...
6285          1
8849          1
5178          1
5129          1
2401          1
Name: count, Length: 7391, dtype: int64

▶ [연체일수_최근] 분포
연체일수_최근
-999999    2952416
 0           43951
 1            3633
Name: count, dtype: int64

▶ [연체원금_최근] 분포
연체원금_최근
0        2991587
3996           7
3550           7
4495           6
4246           6
          ...
7267           1
7063           1
12089          1
4956           1
3498           1
Name: count, Length: 4969, dtype: int64

▶ [최종연체회차] 분포
최종연체회차
-99    1996331
 0     1003669
Name: count, dtype: int64

▶ [RV_평균잔액_R12M] 분포
RV_평균잔액_R12M
0        2814822
367          275
343          274
363          273
386          271
          ...
22265          1
29707          1
16672          1
38569          1
16280          1
Name: count, Length: 33573, dtype: int64

▶ [RV_최대잔액_R12M] 분포
RV_최대잔액_R12M
0        2814883
2665          85
2503          82
2298          80
2380          79
          ...
21687          1
19409          1
52012          1
42615          1
46834          1
Name: count, Length: 38609, dtype: int64

▶ [RV_평균잔액_R6M] 분포
RV_평균잔액_R6M
0        2865907
708           85
791           84
753           81
731           81
          ...
27592          1
14790          1
44029          1
33202          1
21858          1
Name: count, Length: 29064, dtype: int64

▶ [RV_최대잔액_R6M] 분포
RV_최대잔액_R6M
0        2865804
2661          40
2371          40
2693          37
3778          36
          ...
28854          1
27452          1
30372          1
21839          1
11050          1
Name: count, Length: 31388, dtype: int64

▶ [RV_평균잔액_R3M] 분포
RV_평균잔액_R3M
0        2887721
1763          37
2104          37
1721          36
1809          35
          ...
27177          1
19618          1
26888          1
17284          1
32809          1
Name: count, Length: 26667, dtype: int64

▶ [RV_최대잔액_R3M] 분포
RV_최대잔액_R3M
0        2887472
3778          34
3330          29
3376          26
3429          25
          ...
33324          1
34483          1
35720          1
32685          1
16846          1
Name: count, Length: 27559, dtype: int64

▶ [잔액_할부_유이자_B0M] 분포
잔액_할부_유이자_B0M
0        2532016
2014         252
2042         250
2200         247
2414         241
          ...
13317          1
18196          1
21275          1
11147          1
13483          1
Name: count, Length: 14861, dtype: int64

▶ [잔액_할부_무이자_B0M] 분포
잔액_할부_무이자_B0M
0        2247265
1620         349
1615         347
1555         340
1712         339
          ...
12601          1
20583          1
48302          1
25038          1
27201          1
Name: count, Length: 25769, dtype: int64

▶ [월중평잔] 분포
월중평잔
0         659123
330702      3811
12          3051
13          3000
14          2957
           ...
119921         1
90387          1
90327          1
182467         1
95724          1
Name: count, Length: 123145, dtype: int64

▶ [월중평잔_일시불] 분포
월중평잔_일시불
0        758178
9          3391
10         3296
8          3276
11         3224
          ...
62585         1
31821         1
44476         1
57133         1
59038         1
Name: count, Length: 52098, dtype: int64

▶ [월중평잔_RV일시불] 분포
월중평잔_RV일시불
0        2522016
2175         136
1909         136
2114         135
2067         135
          ...
27945          1
34885          1
37492          1
44891          1
39492          1
Name: count, Length: 40774, dtype: int64

▶ [월중평잔_할부] 분포
월중평잔_할부
0        1949627
1094         429
1134         405
1309         404
1023         403
          ...
34879          1
38530          1
27181          1
39628          1
49664          1
Name: count, Length: 44850, dtype: int64

▶ [월중평잔_CA] 분포
월중평잔_CA
0        2817039
3308          41
3273          39
3774          38
3398          38
          ...
30245          1
27125          1
56261          1
18927          1
25167          1
Name: count, Length: 37889, dtype: int64

▶ [월중평잔_카드론] 분포
월중평잔_카드론
0         2814054
241790         23
18981          16
16738          14
14183          13
           ...
54369           1
44508           1
155098          1
60084           1
118548          1
Name: count, Length: 75835, dtype: int64

▶ [평잔_3M] 분포
평잔_3M
0         593455
311938      5543
8           4379
9           4049
7           3885
           ...
196092         1
214427         1
206175         1
104017         1
189089         1
Name: count, Length: 129221, dtype: int64

▶ [평잔_일시불_3M] 분포
평잔_일시불_3M
0        679404
7          5359
6          5142
8          4898
5          4700
          ...
44049         1
44890         1
92765         1
41223         1
60155         1
Name: count, Length: 54147, dtype: int64

▶ [평잔_일시불_해외_3M] 분포
평잔_일시불_해외_3M
0       2664595
305        1599
298        1589
323        1575
300        1567
         ...
1949          1
1477          1
1375          1
1560          1
1421          1
Name: count, Length: 1496, dtype: int64

▶ [평잔_RV일시불_3M] 분포
평잔_RV일시불_3M
0        2513515
1550         129
1756         128
1789         127
1816         125
          ...
58500          1
33657          1
30273          1
61982          1
22692          1
Name: count, Length: 43133, dtype: int64

▶ [평잔_RV일시불_해외_3M] 분포
평잔_RV일시불_해외_3M
0      2921584
393        591
399        589
397        586
387        573
        ...
201          1
979          1
865          1
965          1
830          1
Name: count, Length: 756, dtype: int64

▶ [평잔_할부_3M] 분포
평잔_할부_3M
0        1855177
620          401
673          385
623          385
480          383
          ...
24400          1
60143          1
62360          1
66119          1
59240          1
Name: count, Length: 51058, dtype: int64

▶ [평잔_CA_3M] 분포
평잔_CA_3M
0        2757524
1281          87
1355          85
1285          84
1098          83
          ...
23000          1
36927          1
36386          1
52583          1
35852          1
Name: count, Length: 44713, dtype: int64

▶ [평잔_카드론_3M] 분포
평잔_카드론_3M
0         2799754
230000        645
13729          15
11873          15
18341          14
           ...
128761          1
127646          1
87288           1
67655           1
109338          1
Name: count, Length: 84194, dtype: int64

▶ [평잔_6M] 분포
평잔_6M
0         483092
299154      7048
8           3903
9           3753
7           3609
           ...
66864          1
134999         1
162848         1
242345         1
85486          1
Name: count, Length: 135316, dtype: int64

▶ [평잔_일시불_6M] 분포
평잔_일시불_6M
0        553438
6          5768
7          5335
5          5049
8          4503
          ...
67701         1
42462         1
35793         1
42392         1
51854         1
Name: count, Length: 53232, dtype: int64

▶ [평잔_일시불_해외_6M] 분포
평잔_일시불_해외_6M
0       2622106
243        1609
256        1603
244        1595
245        1593
         ...
1415          1
2057          1
1887          1
1796          1
1554          1
Name: count, Length: 1771, dtype: int64

▶ [평잔_RV일시불_6M] 분포
평잔_RV일시불_6M
0        2495645
314          152
296          146
284          144
306          142
          ...
28700          1
67719          1
44454          1
26537          1
76950          1
Name: count, Length: 42829, dtype: int64

▶ [평잔_RV일시불_해외_6M] 분포
평잔_RV일시불_해외_6M
0      2914045
346        603
341        599
337        598
349        594
        ...
776          1
146          1
855          1
850          1
864          1
Name: count, Length: 636, dtype: int64

▶ [평잔_할부_6M] 분포
평잔_할부_6M
0        1691900
348          534
316          530
329          530
357          528
          ...
57435          1
52992          1
85058          1
44719          1
95571          1
Name: count, Length: 55468, dtype: int64

▶ [평잔_할부_해외_6M] 분포
평잔_할부_해외_6M
0       2996359
1274         27
1273         26
1270         25
1269         24
         ...
970           1
1052          1
1634          1
1501          1
1432          1
Name: count, Length: 662, dtype: int64

▶ [평잔_CA_6M] 분포
평잔_CA_6M
0        2705146
628          169
677          166
684          164
668          164
          ...
30808          1
39183          1
35771          1
32026          1
38176          1
Name: count, Length: 46351, dtype: int64

▶ [평잔_카드론_6M] 분포
평잔_카드론_6M
0         2775436
225000       1042
6552           17
12247          16
10850          16
           ...
118945          1
94111           1
70680           1
57352           1
152223          1
Name: count, Length: 89542, dtype: int64

▶ [Segment] 분포
Segment
E       1922052
None     600000
D        349242
C        127590
A           972
B           144
Name: count, dtype: int64

In [9]:
# 검사할 컬럼 리스트
c1 = list (df.columns)
cols_to_check = c1

# 비수치형 컬럼 저장용 리스트
non_numeric_cols = []

# 각 컬럼에 대해 수치형 변환 시도 후 NaN 비율로 판단
for col in cols_to_check:
    # 결측을 빈 문자열로, 나머지를 문자열로 변환
    s = df[col].fillna('').astype(str)
    # 숫자로 변환 (불가능한 항목은 NaN)
    num = pd.to_numeric(s, errors='coerce')
    # 변환 불가 비율 계산
    na_ratio = num.isna().mean()
    # 일정 비율 이상이면 비수치형으로 간주 (여기선 100% 미수치형도 포함)
    if na_ratio > 0:
        non_numeric_cols.append(col)

# 결과 출력
print("비수치형(또는 혼합형) 컬럼:", non_numeric_cols)

비수치형(또는 혼합형) 컬럼: ['ID', '연체일자_B0M', 'Segment']

In [10]:
# 변환 전에 원본 분포 확인 (NaN 포함)
print("원본 연체일자_B0M 분포 (최다값 상위 10개):")
print(channel_df['연체일자_B0M']
      .value_counts(dropna=False)
      .head(10))

# 8자리 숫자만 뽑아서 datetime 으로 변환
digits = channel_df['연체일자_B0M'].astype(str).str.extract(r'(\d{8})')[0]
dates = pd.to_datetime(digits, format='%Y%m%d', errors='coerce')

# 변환 후 분포 확인
print("\n변환된 날짜 분포 (NaT 포함, 최다값 상위 10개):")
print(dates.value_counts(dropna=False).head(10))

# 실제 날짜만 보고 싶다면 dropna 처리
print("\n실제 날짜만 (NaT 제외, 최다값 상위 10개):")
print(dates.dropna().value_counts().head(10))

# 변환된 결과를 df 에 저장하고 싶다면
df['연체일자_B0M'] = dates

원본 연체일자_B0M 분포 (최다값 상위 10개):
연체일자_B0M
NaN           2992941
20180521.0        105
20180517.0        104
20180520.0         98
20180523.0         97
20180522.0         91
20180518.0         86
20180519.0         84
20180524.0         83
20180515.0         82
Name: count, dtype: int64

변환된 날짜 분포 (NaT 포함, 최다값 상위 10개):
0
NaT           2992941
2018-05-21        105
2018-05-17        104
2018-05-20         98
2018-05-23         97
2018-05-22         91
2018-05-18         86
2018-05-19         84
2018-05-24         83
2018-05-15         82
Name: count, dtype: int64

실제 날짜만 (NaT 제외, 최다값 상위 10개):
0
2018-05-21    105
2018-05-17    104
2018-05-20     98
2018-05-23     97
2018-05-22     91
2018-05-18     86
2018-05-19     84
2018-05-24     83
2018-05-15     82
2018-05-05     78
Name: count, dtype: int64

In [12]:
# drop 이후, 저장 직전의 컬럼과 0/NaN 컬럼 재확인
zero_cols = [c for c in df.columns if df[c].eq(0).all()]
na_cols   = [c for c in df.columns if df[c].isna().any()]

print("저장 직전 0 전부 컬럼:", zero_cols)
print("저장 직전 NaN 있는 컬럼:", na_cols)
print("저장 직전 전체 컬럼 수:", len(df.columns))

저장 직전 0 전부 컬럼: []
저장 직전 NaN 있는 컬럼: ['연체일자_B0M', 'Segment']
저장 직전 전체 컬럼 수: 64

In [13]:
# csv 파일로 저장
df.to_csv('잔액정보_전처리.csv',  index=False)

In [16]:
# 저장된 파일 불러와서 확인하기
df2 = pd.read_csv('잔액정보_전처리.csv')
zero_after = [c for c in df2.columns if df2[c].eq(0).all()]
na_after   = [c for c in df2.columns if df2[c].isna().any()]

print("로드 후 0 전부 컬럼:", zero_after)
print("로드 후 NaN 있는 컬럼:", na_after)
print("로드 후 전체 컬럼 수:", len(df2.columns))

로드 후 0 전부 컬럼: []
로드 후 NaN 있는 컬럼: ['연체일자_B0M', 'Segment']
로드 후 전체 컬럼 수: 64