In [1]:
# 기본 라이브러리 임포트
import pandas as pd             
import numpy as np             
import matplotlib.pyplot as plt 
import seaborn as sns           
import gc                       # 가비지 컬렉션(메모리 해제)
import re                       # 정규 표현식 처리
from collections import defaultdict  # 기본값이 있는 딕셔너리 생성

# 경고 메시지 억제
import warnings
warnings.filterwarnings('ignore')   

# 그래프 스타일 설정
sns.set()                           # seaborn 기본 스타일 적용

# matplotlib 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'  
plt.rcParams['figure.figsize'] = (12, 6)       # 그림 크기 설정 (가로, 세로)
plt.rcParams['font.size'] = 14                 # 폰트 크기 설정
plt.rcParams['axes.unicode_minus'] = False     # 마이너스 기호 깨짐 방지

# 결측치 시각화 라이브러리 임포트
import missingno                          # 결측치 분포를 시각화하는 유틸리티

# 범주형 변수 레이블 인코딩을 위한 도구 임포트
from sklearn.preprocessing import LabelEncoder

# 중복 조합 생성에 사용할 product 함수 임포트
from itertools import product

# 회귀 및 통계 분석을 위한 statsmodels 임포트
import statsmodels.api as sm

# 다중공선성 진단용 VIF 계산 함수 임포트
from statsmodels.stats.outliers_influence import variance_inflation_factor

### 데이터 병합

In [2]:
# 채널정보 파일 읽기
channel_df = pd.read_parquet('open/concat/2018_청구입금정보.parquet')

# 회원정보 파일 읽기
member_df  = pd.read_parquet('open/concat/2018_회원정보.parquet')

# 회원정보에서 ID와 Segment 컬럼만 추출
member_seg = member_df[['ID', 'Segment']]

# 중복된 ID 개수 확인
dup_count = member_seg['ID'].duplicated().sum()
print(f'중복된 ID 개수: {dup_count}')

# 중복된 ID를 첫 번째 항목만 남기고 제거
member_seg_unique = member_seg.drop_duplicates(subset='ID', keep='first')
print(f'중복 제거 후 행 수: {len(member_seg_unique)}')

# 채널정보에 Segment 컬럼 병합 (1:1 조인 보장)
df = channel_df.merge(member_seg_unique, on='ID', how='left')

# 결과 확인
print("병합 후 데이터프레임 크기:", df.shape)
print(df.head())

# 병합된 파일 저장
df.to_parquet('2018_청구입금정보_with_segment.parquet', index=False)

중복된 ID 개수: 2500000
중복 제거 후 행 수: 500000
병합 후 데이터프레임 크기: (3000000, 47)
     기준년월            ID  대표결제일 대표결제방법코드 대표청구지고객주소구분코드 대표청구서수령지구분코드 청구서수령방법  \
0  201807  TRAIN_000000     27     자동이체           미확인    당사페이앱+이메일   문자메세지
1  201807  TRAIN_000001     13     자동이체           주거지           우편      우편
2  201807  TRAIN_000002      1     자동이체           미확인          이메일     이메일
3  201807  TRAIN_000003      5     자동이체           주거지           우편      우편
4  201807  TRAIN_000004     13     자동이체           주거지           우편      우편

   청구서발송여부_B0  청구서발송여부_R3M  청구서발송여부_R6M  ...  상환개월수_결제일_R6M  상환개월수_결제일_R3M  \
0           1            1            1  ...              5              3
1           1            1            1  ...              6              3
2           1            1            1  ...              6              3
3           1            1            1  ...              5              3
4           0            1            1  ...              1              1

   선결제건수_R6M  선결제건수_R3M  연체건수_R6M  연체건수_R3M  혜택수혜금액_R3M  포인트_마일리지_환산_B0M  \
0          0          0         1         0           3                0
1          0          0         0         0           0                0
2          0          0         0         0         121                0
3          2          0         0         0           3                0
4          0          0         0         0           0                0

   혜택수혜금액  Segment
0       0        D
1       0        E
2      50        C
3       2        D
4       0        E

[5 rows x 47 columns]

In [3]:
# 데이터를 불러온다.
df = pd.read_parquet('2018_청구입금정보_with_segment.parquet')
df

,기준년월,ID,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,청구서발송여부_R6M,...,상환개월수_결제일_R6M,상환개월수_결제일_R3M,선결제건수_R6M,선결제건수_R3M,연체건수_R6M,연체건수_R3M,혜택수혜금액_R3M,포인트_마일리지_환산_B0M,혜택수혜금액,Segment
0,201807,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,5,3,0,0,1,0,3,0,0,D
1,201807,TRAIN_000001,13,자동이체,주거지,우편,우편,1,1,1,...,6,3,0,0,0,0,0,0,0,E
2,201807,TRAIN_000002,1,자동이체,미확인,이메일,이메일,1,1,1,...,6,3,0,0,0,0,121,0,50,C
3,201807,TRAIN_000003,5,자동이체,주거지,우편,우편,1,1,1,...,5,3,2,0,0,0,3,0,2,D
4,201807,TRAIN_000004,13,자동이체,주거지,우편,우편,0,1,1,...,1,1,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,201812,TEST_99995,20,자동이체,회사,우편,우편,0,0,0,...,0,0,0,0,0,0,0,0,0,None
2999996,201812,TEST_99996,20,자동이체,주거지,우편,우편,1,1,1,...,5,3,3,2,0,0,149,0,49,None
2999997,201812,TEST_99997,15,자동이체,미확인,이메일,이메일,0,0,0,...,0,0,0,0,0,0,0,0,0,None
2999998,201812,TEST_99998,12,자동이체,미확인,K톡명세서+이메일,K톡,1,1,1,...,1,1,7,3,0,0,0,0,0,None
2999999,201812,TEST_99999,5,자동이체,주거지,우편,우편,1,1,1,...,6,3,0,0,0,0,0,0,0,None

### 결측치 찾기

In [4]:
# 전체 행 개수 계산
total_rows = len(df)

# 각 컬럼의 결측치 개수 계산
missing_count = df.isna().sum()

# 결측치 비율 계산 (전체 행 대비 %)
missing_pct = (missing_count / total_rows * 100).round(2)

# 결측치 정보 데이터프레임으로 정리
missing_info = pd.DataFrame({
    'missing_count': missing_count,
    'missing_pct': missing_pct
})

# 결측치가 있는 컬럼만 출력
print("\n결측치 정보 (개수 및 전체 대비 비율 %):")
print(missing_info[missing_info['missing_count'] > 0])

결측치 정보 (개수 및 전체 대비 비율 %):
         missing_count  missing_pct
Segment         600000         20.0

### 값이 하나 뿐인 컬럼과 값이 모두 0인 컬럼도 제외

In [5]:
# 전부 0인 컬럼 찾기
zero_cols = [c for c in df.columns if df[c].eq(0).all()]

print("모두 0인 컬럼 (제거 대상):")
print(zero_cols)

# 전부 0인 컬럼 제거
df.drop(columns=zero_cols, inplace = True)

# 4) 결과 확인
print("최종 DataFrame shape:", df.shape)
print("남은 컬럼:", df.columns.tolist())

모두 0인 컬럼 (제거 대상):
[]
최종 DataFrame shape: (3000000, 47)
남은 컬럼: ['기준년월', 'ID', '대표결제일', '대표결제방법코드', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R3M', '청구금액_R6M', '포인트_마일리지_건별_B0M', '포인트_마일리지_건별_R3M', '포인트_포인트_건별_B0M', '포인트_포인트_건별_R3M', '포인트_마일리지_월적립_B0M', '포인트_마일리지_월적립_R3M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_이용포인트_R3M', '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_적립포인트_R3M', '마일_이용포인트_R12M', '마일_이용포인트_R3M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인금액_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_R3M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '상환개월수_결제일_R3M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M', '포인트_마일리지_환산_B0M', '혜택수혜금액', 'Segment']

In [6]:
# 모든 값이 동일한(상수) 컬럼 찾기
const_cols = [c for c in df.columns if df[c].nunique(dropna=False) == 1]

# 제거 대상 컬럼 목록 출력
print("모두 같은 값인 컬럼 (제거 대상):")
print(const_cols)

# 상수 컬럼 제거
df.drop(columns=const_cols, inplace=True)

# 결과 확인
print("최종 DataFrame shape:", df.shape)
print("남은 컬럼:", df.columns.tolist())

모두 같은 값인 컬럼 (제거 대상):
['대표결제방법코드']
최종 DataFrame shape: (3000000, 46)
남은 컬럼: ['기준년월', 'ID', '대표결제일', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R3M', '청구금액_R6M', '포인트_마일리지_건별_B0M', '포인트_마일리지_건별_R3M', '포인트_포인트_건별_B0M', '포인트_포인트_건별_R3M', '포인트_마일리지_월적립_B0M', '포인트_마일리지_월적립_R3M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_이용포인트_R3M', '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_적립포인트_R3M', '마일_이용포인트_R12M', '마일_이용포인트_R3M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인금액_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_R3M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '상환개월수_결제일_R3M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M', '포인트_마일리지_환산_B0M', '혜택수혜금액', 'Segment']

In [7]:
# 전체 컬럼 리스트 생성
cols = df.columns.tolist()

# 최빈값 비율이 99.9% 초과하는 컬럼 수집
low_variance_cols = []
for col in cols:
    # 계산: 컬럼별 최빈값 비율 확인
    top_ratio = df[col].value_counts(normalize=True, dropna=False).iloc[0]
    if top_ratio > 0.999:
        low_variance_cols.append(col)

# 제거 대상 컬럼 목록 출력
print("제거 대상 컬럼:", low_variance_cols)

# 제거 대상 컬럼 삭제
df.drop(columns=low_variance_cols, inplace=True)

# 결과 확인
print("최종 컬럼 리스트:", df.columns.tolist())

제거 대상 컬럼: ['포인트_잔여포인트_B0M']
최종 컬럼 리스트: ['기준년월', 'ID', '대표결제일', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R3M', '청구금액_R6M', '포인트_마일리지_건별_B0M', '포인트_마일리지_건별_R3M', '포인트_포인트_건별_B0M', '포인트_포인트_건별_R3M', '포인트_마일리지_월적립_B0M', '포인트_마일리지_월적립_R3M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_이용포인트_R3M', '마일_적립포인트_R12M', '마일_적립포인트_R3M', '마일_이용포인트_R12M', '마일_이용포인트_R3M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인금액_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_R3M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '상환개월수_결제일_R3M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M', '포인트_마일리지_환산_B0M', '혜택수혜금액', 'Segment']

### 비수치형 또는 혼합형 컬럼 찾아 숫자로 변환하기

In [8]:
# 각 컬럼별 분포(value_counts) 출력
c1 = list (df.columns)
for col in c1:
    print(f"▶ [{col}] 분포")
    print(df[col].value_counts(dropna=False))
    print()  # 빈 줄로 구분

▶ [기준년월] 분포
기준년월
201807    500000
201808    500000
201809    500000
201810    500000
201811    500000
201812    500000
Name: count, dtype: int64

▶ [ID] 분포
ID
TRAIN_000000    6
TRAIN_333343    6
TRAIN_333341    6
TRAIN_333340    6
TRAIN_333339    6
               ..
TRAIN_166662    6
TRAIN_166661    6
TRAIN_166660    6
TRAIN_166659    6
TEST_99999      6
Name: count, Length: 500000, dtype: int64

▶ [대표결제일] 분포
대표결제일
25    677268
1     399471
27    345848
20    325362
15    313786
13    284590
23    272303
5     211542
12    168416
21      1401
10        13
Name: count, dtype: int64

▶ [대표청구지고객주소구분코드] 분포
대표청구지고객주소구분코드
미확인    1404120
주거지    1280855
회사      315025
Name: count, dtype: int64

▶ [대표청구서수령지구분코드] 분포
대표청구서수령지구분코드
우편           1601743
이메일           994614
당사페이앱+이메일     304386
미수신            50922
K톡명세서+이메일      48284
당사멤버십+이메일         50
문자메세지              1
Name: count, dtype: int64

▶ [청구서수령방법] 분포
청구서수령방법
우편       1601743
이메일       994614
문자메세지     304387
미수령        50922
K톡         48284
당사멤버십         50
Name: count, dtype: int64

▶ [청구서발송여부_B0] 분포
청구서발송여부_B0
1    2313349
0     686651
Name: count, dtype: int64

▶ [청구서발송여부_R3M] 분포
청구서발송여부_R3M
1    2390435
0     609565
Name: count, dtype: int64

▶ [청구서발송여부_R6M] 분포
청구서발송여부_R6M
1    2538597
0     461403
Name: count, dtype: int64

▶ [청구금액_B0] 분포
청구금액_B0
0        686651
16         2872
17         2783
15         2670
18         2652
          ...
49774         1
45971         1
42800         1
57075         1
43573         1
Name: count, Length: 55618, dtype: int64

▶ [청구금액_R3M] 분포
청구금액_R3M
0         598290
54           957
53           940
49           939
47           923
           ...
113542         1
179454         1
112580         1
189429         1
98428          1
Name: count, Length: 128646, dtype: int64

▶ [청구금액_R6M] 분포
청구금액_R6M
0         443023
76           784
81           783
84           775
86           765
           ...
221375         1
483976         1
381669         1
227913         1
252306         1
Name: count, Length: 219188, dtype: int64

▶ [포인트_마일리지_건별_B0M] 분포
포인트_마일리지_건별_B0M
0       2916897
1014        184
1036        181
1033        180
1026        179
         ...
2409          1
2626          1
735           1
2548          1
2356          1
Name: count, Length: 1684, dtype: int64

▶ [포인트_마일리지_건별_R3M] 분포
포인트_마일리지_건별_R3M
0       2915865
3022         68
3346         67
3064         60
3215         60
         ...
5853          1
6961          1
6216          1
8921          1
5996          1
Name: count, Length: 5255, dtype: int64

▶ [포인트_포인트_건별_B0M] 분포
포인트_포인트_건별_B0M
0       2676035
2887        138
2812        138
2883        135
2676        134
         ...
5445          1
5975          1
5791          1
5691          1
5505          1
Name: count, Length: 5585, dtype: int64

▶ [포인트_포인트_건별_R3M] 분포
포인트_포인트_건별_R3M
0        2657547
8107          58
2077          57
1794          52
1885          52
          ...
18791          1
16497          1
15905          1
17682          1
15407          1
Name: count, Length: 16263, dtype: int64

▶ [포인트_마일리지_월적립_B0M] 분포
포인트_마일리지_월적립_B0M
0       2934221
632         388
629         384
633         380
614         378
         ...
1156          1
1054          1
1164          1
1183          1
377           1
Name: count, Length: 813, dtype: int64

▶ [포인트_마일리지_월적립_R3M] 분포
포인트_마일리지_월적립_R3M
0       2931808
1860        160
1842        156
1828        152
1879        151
         ...
1099          1
513           1
892           1
1098          1
1370          1
Name: count, Length: 2348, dtype: int64

▶ [포인트_포인트_월적립_B0M] 분포
포인트_포인트_월적립_B0M
0        2943047
5002        1614
5003        1380
5001        1290
5004         938
          ...
19784          1
19690          1
17576          1
4972           1
17778          1
Name: count, Length: 3265, dtype: int64

▶ [포인트_포인트_월적립_R3M] 분포
포인트_포인트_월적립_R3M
0        2861368
5002         679
5001         578
5003         504
5000         355
          ...
23396          1
55228          1
42201          1
57364          1
41514          1
Name: count, Length: 26480, dtype: int64

▶ [포인트_적립포인트_R12M] 분포
포인트_적립포인트_R12M
0         2335412
2044          190
1793          178
1979          178
2084          175
           ...
107416          1
110705          1
69415           1
82326           1
75790           1
Name: count, Length: 77079, dtype: int64

▶ [포인트_적립포인트_R3M] 분포
포인트_적립포인트_R3M
0        2470190
856           82
675           79
586           76
767           75
          ...
29507          1
31040          1
32692          1
26260          1
25905          1
Name: count, Length: 33036, dtype: int64

▶ [포인트_이용포인트_R12M] 분포
포인트_이용포인트_R12M
0         2016993
2213          200
1681          190
2241          188
2141          187
           ...
75749           1
168843          1
100415          1
117446          1
241940          1
Name: count, Length: 149739, dtype: int64

▶ [포인트_이용포인트_R3M] 분포
포인트_이용포인트_R3M
0        2348286
2318         121
489          121
408          120
1602         118
          ...
86782          1
54923          1
50242          1
64293          1
39628          1
Name: count, Length: 56500, dtype: int64

▶ [마일_적립포인트_R12M] 분포
마일_적립포인트_R12M
0        2898603
3202          18
3481          18
3291          16
4663          15
          ...
2813           1
27452          1
28785          1
2590           1
45883          1
Name: count, Length: 27047, dtype: int64

▶ [마일_적립포인트_R3M] 분포
마일_적립포인트_R3M
0       2848861
1807        148
1787        143
1794        143
1821        142
         ...
6999          1
6878          1
9650          1
9316          1
7181          1
Name: count, Length: 6915, dtype: int64

▶ [마일_이용포인트_R12M] 분포
마일_이용포인트_R12M
0        2912139
12652         22
14045         21
11967         21
12764         21
          ...
26687          1
10341          1
10132          1
34745          1
27878          1
Name: count, Length: 17456, dtype: int64

▶ [마일_이용포인트_R3M] 분포
마일_이용포인트_R3M
0       2917143
2798         71
2855         66
2831         65
2924         65
         ...
5934          1
5838          1
6346          1
6342          1
6308          1
Name: count, Length: 4505, dtype: int64

▶ [마일_잔여포인트_B0M] 분포
마일_잔여포인트_B0M
0       2923947
578         480
583         469
598         457
592         454
         ...
1107          1
1149          1
1209          1
1123          1
396           1
Name: count, Length: 753, dtype: int64

▶ [할인건수_R3M] 분포
할인건수_R3M
1회 이상     2678723
10회 이상     244875
20회 이상      66253
30회 이상      10139
40회 이상         10
Name: count, dtype: int64

▶ [할인금액_R3M] 분포
할인금액_R3M
0       2136469
27        66954
150       44701
510       38483
149       31861
         ...
1299          1
1233          1
1236          1
1241          1
1249          1
Name: count, Length: 1268, dtype: int64

▶ [할인건수_B0M] 분포
할인건수_B0M
1회 이상     2985956
10회 이상      14044
Name: count, dtype: int64

▶ [할인금액_B0M] 분포
할인금액_B0M
0      2274801
170      71523
9        67438
50       53614
49       30187
        ...
445          1
174          1
478          1
480          1
439          1
Name: count, Length: 395, dtype: int64

▶ [할인금액_청구서_R3M] 분포
할인금액_청구서_R3M
0       1916115
27        73325
150       52951
149       24515
26        23777
         ...
1702          1
1738          1
1660          1
1808          1
1739          1
Name: count, Length: 1731, dtype: int64

▶ [할인금액_청구서_B0M] 분포
할인금액_청구서_B0M
0      2101338
9        82380
50       60836
8        23936
49       23517
        ...
599          1
128          1
645          1
653          1
625          1
Name: count, Length: 589, dtype: int64

▶ [상환개월수_결제일_R6M] 분포
상환개월수_결제일_R6M
6    1428103
0     527658
5     281360
1     250690
4     247480
2     164151
3     100558
Name: count, dtype: int64

▶ [상환개월수_결제일_R3M] 분포
상환개월수_결제일_R3M
3    1754152
0     715066
1     278503
2     252279
Name: count, dtype: int64

▶ [선결제건수_R6M] 분포
선결제건수_R6M
0    2705100
2     110932
3      63494
4      30893
6      28565
5      25043
1      20166
7      14582
8       1225
Name: count, dtype: int64

▶ [선결제건수_R3M] 분포
선결제건수_R3M
0    2777963
2     133131
3      56093
1      22441
4      10372
Name: count, dtype: int64

▶ [연체건수_R6M] 분포
연체건수_R6M
0    2523510
2     154418
1     105313
3      82310
4      53608
5      41661
6      33637
7       5537
8          6
Name: count, dtype: int64

▶ [연체건수_R3M] 분포
연체건수_R3M
0    2678526
2     167273
3      75349
1      71188
4       7664
Name: count, dtype: int64

▶ [혜택수혜금액_R3M] 분포
혜택수혜금액_R3M
0       1690187
26        49747
3         36873
150       35152
5         35052
         ...
2472          1
2750          1
2588          1
2635          1
1415          1
Name: count, Length: 1723, dtype: int64

▶ [포인트_마일리지_환산_B0M] 분포
포인트_마일리지_환산_B0M
0      2851625
78        1715
76        1637
77        1582
81        1573
        ...
543          1
607          1
512          1
486          1
538          1
Name: count, Length: 483, dtype: int64

▶ [혜택수혜금액] 분포
혜택수혜금액
0      1851205
50       87978
49       68693
1        68034
2        64796
        ...
342          1
679          1
349          1
629          1
33           1
Name: count, Length: 428, dtype: int64

▶ [Segment] 분포
Segment
E       1922052
None     600000
D        349242
C        127590
A           972
B           144
Name: count, dtype: int64

In [9]:
# 검사할 컬럼 리스트
c1 = list (df.columns)
cols_to_check = c1

# 비수치형 컬럼 저장용 리스트
non_numeric_cols = []

# 각 컬럼에 대해 수치형 변환 시도 후 NaN 비율로 판단
for col in cols_to_check:
    # 결측을 빈 문자열로, 나머지를 문자열로 변환
    s = df[col].fillna('').astype(str)
    # 숫자로 변환 (불가능한 항목은 NaN)
    num = pd.to_numeric(s, errors='coerce')
    # 변환 불가 비율 계산
    na_ratio = num.isna().mean()
    # 일정 비율 이상이면 비수치형으로 간주 (여기선 100% 미수치형도 포함)
    if na_ratio > 0:
        non_numeric_cols.append(col)

# 결과 출력
print("비수치형(또는 혼합형) 컬럼:", non_numeric_cols)

비수치형(또는 혼합형) 컬럼: ['ID', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법', '할인건수_R3M', '할인건수_B0M', 'Segment']

In [10]:
# 숫자와 문자가 섞여 있는 컬럼 리스트 정의
cols = [
    '할인건수_R3M',
    '할인건수_B0M'
]

# 숫자 추출해서 새로운 수치형 컬럼 생성
for col in cols:
    # 문자열로 변환하고 숫자만 추출
    s = df[col].fillna('').astype(str)
    df[f'{col}_num'] = s.str.extract(r'(\d+)', expand=False)
    # 숫자로 변환, 변환 실패는 0으로 대체
    df[f'{col}_num'] = pd.to_numeric(df[f'{col}_num'], errors='coerce').fillna(0).astype(int)

# 원본 컬럼 삭제 
df.drop(columns=cols, inplace=True)

In [11]:
#원-핫 인코딩 대상인 문자형 컬럼 리스트 생성
additional_cols = [
    '대표청구지고객주소구분코드',
    '대표청구서수령지구분코드',
    '청구서수령방법'
]
cat_cols = [
    c for c in df.columns
    if (c.endswith('업종') or c in additional_cols)
       and df[c].dtype == 'object'
]

# 대상 컬럼을 category 타입으로 변환해 메모리 절약
for c in cat_cols:
    df[c] = df[c].astype('category')

# 희소(sparse) 포맷으로 원-핫 인코딩 (결측치는 NaN 유지)
df = pd.get_dummies(
    df,
    columns=cat_cols,
    dummy_na=False,
    sparse=True
)

# 인코딩된 컬럼 목록 출력
print("인코딩된 컬럼 개수:", len([c for c in df.columns if '_' in c and any(orig in c for orig in cat_cols)]))

인코딩된 컬럼 개수: 16

In [12]:
# drop 이후, 저장 직전의 컬럼과 0/NaN 컬럼 재확인
zero_cols = [c for c in df.columns if df[c].eq(0).all()]
na_cols   = [c for c in df.columns if df[c].isna().any()]

print("저장 직전 0 전부 컬럼:", zero_cols)
print("저장 직전 NaN 있는 컬럼:", na_cols)
print("저장 직전 전체 컬럼 수:", len(df.columns))

저장 직전 0 전부 컬럼: []
저장 직전 NaN 있는 컬럼: ['Segment']
저장 직전 전체 컬럼 수: 58

In [13]:
# csv 파일로 저장
df.to_csv('청구입금정보_전처리.csv',  index=False)

In [16]:
# 저장된 파일 불러와서 확인하기
df2 = pd.read_csv('청구입금정보_전처리.csv')
zero_after = [c for c in df2.columns if df2[c].eq(0).all()]
na_after   = [c for c in df2.columns if df2[c].isna().any()]

print("로드 후 0 전부 컬럼:", zero_after)
print("로드 후 NaN 있는 컬럼:", na_after)
print("로드 후 전체 컬럼 수:", len(df2.columns))

로드 후 0 전부 컬럼: []
로드 후 NaN 있는 컬럼: ['Segment']
로드 후 전체 컬럼 수: 58