In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 결측치 시각화를 위한 라이브러리
import missingno

In [2]:
# parquet 파일 데이터를 읽어온다.
df1 = pd.read_parquet('open/train/6.채널정보/2018_train_채널정보.parquet')
df1

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사PAY_방문횟수_R6M,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M
0,201807,TRAIN_000000,10회 이상,10회 이상,8,6,0,2,6,2,...,0,0,22,221,6,Android,0,0,0,0
1,201807,TRAIN_000001,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,None,0,0,0,0
2,201807,TRAIN_000002,1회 이상,1회 이상,1,1,0,2,5,1,...,0,0,0,0,0,Android,11,6,5,5
3,201807,TRAIN_000003,10회 이상,10회 이상,10,6,0,2,6,2,...,0,0,23,219,6,Android,0,0,0,0
4,201807,TRAIN_000004,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,Android,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,None,0,0,0,0
2399996,201812,TRAIN_399996,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,1,None,0,0,0,0
2399997,201812,TRAIN_399997,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,None,0,0,0,0
2399998,201812,TRAIN_399998,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,None,0,0,0,0
2399999,201812,TRAIN_399999,1회 이상,1회 이상,0,0,0,0,0,0,...,0,0,0,0,0,None,0,0,0,0

### 기본적인 데이터 확인

In [3]:
# 데이터의 크기를 확인한다.
df1.shape

(2400000, 105)

### 결측치 확인

In [4]:
# 결측치가 있는 컬럼을 확인한다.

na_box = []

for idx, val in df1.isnull().sum().items() :
    print(f'{idx}의 결측치 : {val}')
    if val > 0 :
        na_box.append(idx)

기준년월의 결측치 : 0
ID의 결측치 : 0
인입횟수_ARS_R6M의 결측치 : 0
이용메뉴건수_ARS_R6M의 결측치 : 0
인입일수_ARS_R6M의 결측치 : 0
인입월수_ARS_R6M의 결측치 : 0
인입후경과월_ARS의 결측치 : 0
인입횟수_ARS_B0M의 결측치 : 0
이용메뉴건수_ARS_B0M의 결측치 : 0
인입일수_ARS_B0M의 결측치 : 0
방문횟수_PC_R6M의 결측치 : 0
방문일수_PC_R6M의 결측치 : 0
방문월수_PC_R6M의 결측치 : 0
방문후경과월_PC_R6M의 결측치 : 0
방문횟수_앱_R6M의 결측치 : 0
방문일수_앱_R6M의 결측치 : 0
방문월수_앱_R6M의 결측치 : 0
방문후경과월_앱_R6M의 결측치 : 0
방문횟수_모바일웹_R6M의 결측치 : 0
방문일수_모바일웹_R6M의 결측치 : 0
방문월수_모바일웹_R6M의 결측치 : 0
방문후경과월_모바일웹_R6M의 결측치 : 0
방문횟수_PC_B0M의 결측치 : 0
방문일수_PC_B0M의 결측치 : 0
방문횟수_앱_B0M의 결측치 : 0
방문일수_앱_B0M의 결측치 : 0
방문횟수_모바일웹_B0M의 결측치 : 0
방문일수_모바일웹_B0M의 결측치 : 0
인입횟수_IB_R6M의 결측치 : 0
인입횟수_금융_IB_R6M의 결측치 : 0
인입일수_IB_R6M의 결측치 : 0
인입월수_IB_R6M의 결측치 : 0
이용메뉴건수_IB_R6M의 결측치 : 0
인입후경과월_IB_R6M의 결측치 : 0
인입횟수_IB_B0M의 결측치 : 0
인입일수_IB_B0M의 결측치 : 0
이용메뉴건수_IB_B0M의 결측치 : 0
인입불만횟수_IB_R6M의 결측치 : 0
인입불만일수_IB_R6M의 결측치 : 0
인입불만월수_IB_R6M의 결측치 : 0
인입불만후경과월_IB_R6M의 결측치 : 0
인입불만횟수_IB_B0M의 결측치 : 0
인입불만일수_IB_B0M의 결측치 : 0
상담건수_B0M의 결측치 : 0
IB문의건수_사용승인내역_B0M의 결측치 : 0
IB문의건수_한도_B0M의 결측치 : 0
IB문의건수_선결제_B0M의 결측치 : 0
IB문의건수_결제_B0M의 결측치 : 0
IB문의건수_할부_B0M의 결측치 : 0
IB문의건수_정보변경_B0M의 결측치 : 0
IB문의건수_결제일변경_B0M의 결측치 : 0
IB문의건수_명세서_B0M의 결측치 : 0
IB문의건수_비밀번호_B0M의 결측치 : 0
IB문의건수_SMS_B0M의 결측치 : 0
IB문의건수_APP_B0M의 결측치 : 0
IB문의건수_부대서비스_B0M의 결측치 : 0
IB문의건수_포인트_B0M의 결측치 : 0
IB문의건수_카드발급_B0M의 결측치 : 0
IB문의건수_BL_B0M의 결측치 : 0
IB문의건수_분실도난_B0M의 결측치 : 0
IB문의건수_CA_B0M의 결측치 : 0
IB문의건수_CL_RV_B0M의 결측치 : 0
IB문의건수_CS_B0M의 결측치 : 0
IB상담건수_VOC_B0M의 결측치 : 0
IB상담건수_VOC민원_B0M의 결측치 : 0
IB상담건수_VOC불만_B0M의 결측치 : 0
IB상담건수_금감원_B0M의 결측치 : 0
상담건수_R6M의 결측치 : 0
IB문의건수_사용승인내역_R6M의 결측치 : 0
IB문의건수_한도_R6M의 결측치 : 0
IB문의건수_선결제_R6M의 결측치 : 0
IB문의건수_결제_R6M의 결측치 : 0
IB문의건수_할부_R6M의 결측치 : 0
IB문의건수_정보변경_R6M의 결측치 : 0
IB문의건수_결제일변경_R6M의 결측치 : 0
IB문의건수_명세서_R6M의 결측치 : 0
IB문의건수_비밀번호_R6M의 결측치 : 0
IB문의건수_SMS_R6M의 결측치 : 0
IB문의건수_APP_R6M의 결측치 : 0
IB문의건수_부대서비스_R6M의 결측치 : 0
IB문의건수_포인트_R6M의 결측치 : 0
IB문의건수_카드발급_R6M의 결측치 : 0
IB문의건수_BL_R6M의 결측치 : 0
IB문의건수_분실도난_R6M의 결측치 : 0
IB문의건수_CA_R6M의 결측치 : 0
IB문의건수_CL_RV_R6M의 결측치 : 0
IB문의건수_CS_R6M의 결측치 : 0
IB상담건수_VOC_R6M의 결측치 : 0
IB상담건수_VOC민원_R6M의 결측치 : 0
IB상담건수_VOC불만_R6M의 결측치 : 0
IB상담건수_금감원_R6M의 결측치 : 0
불만제기건수_B0M의 결측치 : 0
불만제기건수_R12M의 결측치 : 0
불만제기후경과월_R12M의 결측치 : 0
당사PAY_방문횟수_B0M의 결측치 : 0
당사PAY_방문횟수_R6M의 결측치 : 0
당사PAY_방문월수_R6M의 결측치 : 0
당사멤버쉽_방문횟수_B0M의 결측치 : 0
당사멤버쉽_방문횟수_R6M의 결측치 : 0
당사멤버쉽_방문월수_R6M의 결측치 : 0
OS구분코드의 결측치 : 1633566
홈페이지_금융건수_R6M의 결측치 : 0
홈페이지_선결제건수_R6M의 결측치 : 0
홈페이지_금융건수_R3M의 결측치 : 0
홈페이지_선결제건수_R3M의 결측치 : 0

In [5]:
# 결측치가 있는 칼럼들
na_box

['OS구분코드']

In [6]:
# 결측치가 있는 칼럼의 결측 비율을 확인한다.
df1[na_box].isna().sum() / df1.shape[0]

OS구분코드    0.680652
dtype: float64

In [7]:
# 각 칼럼의 데이터의 타입을 확인한다.
for idx, val in df1.dtypes.items() :
    print(f'{idx}의 타입 : {val}')

기준년월의 타입 : int64
ID의 타입 : object
인입횟수_ARS_R6M의 타입 : object
이용메뉴건수_ARS_R6M의 타입 : object
인입일수_ARS_R6M의 타입 : int64
인입월수_ARS_R6M의 타입 : int64
인입후경과월_ARS의 타입 : int64
인입횟수_ARS_B0M의 타입 : int64
이용메뉴건수_ARS_B0M의 타입 : int64
인입일수_ARS_B0M의 타입 : int64
방문횟수_PC_R6M의 타입 : object
방문일수_PC_R6M의 타입 : object
방문월수_PC_R6M의 타입 : int64
방문후경과월_PC_R6M의 타입 : int64
방문횟수_앱_R6M의 타입 : object
방문일수_앱_R6M의 타입 : int64
방문월수_앱_R6M의 타입 : int64
방문후경과월_앱_R6M의 타입 : int64
방문횟수_모바일웹_R6M의 타입 : int64
방문일수_모바일웹_R6M의 타입 : int64
방문월수_모바일웹_R6M의 타입 : int64
방문후경과월_모바일웹_R6M의 타입 : int64
방문횟수_PC_B0M의 타입 : int64
방문일수_PC_B0M의 타입 : int64
방문횟수_앱_B0M의 타입 : int64
방문일수_앱_B0M의 타입 : int64
방문횟수_모바일웹_B0M의 타입 : int64
방문일수_모바일웹_B0M의 타입 : int64
인입횟수_IB_R6M의 타입 : int64
인입횟수_금융_IB_R6M의 타입 : int64
인입일수_IB_R6M의 타입 : int64
인입월수_IB_R6M의 타입 : int64
이용메뉴건수_IB_R6M의 타입 : int64
인입후경과월_IB_R6M의 타입 : int64
인입횟수_IB_B0M의 타입 : int64
인입일수_IB_B0M의 타입 : int64
이용메뉴건수_IB_B0M의 타입 : int64
인입불만횟수_IB_R6M의 타입 : int64
인입불만일수_IB_R6M의 타입 : int64
인입불만월수_IB_R6M의 타입 : int64
인입불만후경과월_IB_R6M의 타입 : int64
인입불만횟수_IB_B0M의 타입 : int64
인입불만일수_IB_B0M의 타입 : int64
상담건수_B0M의 타입 : int64
IB문의건수_사용승인내역_B0M의 타입 : int64
IB문의건수_한도_B0M의 타입 : int64
IB문의건수_선결제_B0M의 타입 : int64
IB문의건수_결제_B0M의 타입 : int64
IB문의건수_할부_B0M의 타입 : int64
IB문의건수_정보변경_B0M의 타입 : int64
IB문의건수_결제일변경_B0M의 타입 : int64
IB문의건수_명세서_B0M의 타입 : int64
IB문의건수_비밀번호_B0M의 타입 : int64
IB문의건수_SMS_B0M의 타입 : int64
IB문의건수_APP_B0M의 타입 : int64
IB문의건수_부대서비스_B0M의 타입 : int64
IB문의건수_포인트_B0M의 타입 : int64
IB문의건수_카드발급_B0M의 타입 : int64
IB문의건수_BL_B0M의 타입 : int64
IB문의건수_분실도난_B0M의 타입 : int64
IB문의건수_CA_B0M의 타입 : int64
IB문의건수_CL_RV_B0M의 타입 : int64
IB문의건수_CS_B0M의 타입 : int64
IB상담건수_VOC_B0M의 타입 : int64
IB상담건수_VOC민원_B0M의 타입 : int64
IB상담건수_VOC불만_B0M의 타입 : int64
IB상담건수_금감원_B0M의 타입 : int64
상담건수_R6M의 타입 : int64
IB문의건수_사용승인내역_R6M의 타입 : int64
IB문의건수_한도_R6M의 타입 : int64
IB문의건수_선결제_R6M의 타입 : int64
IB문의건수_결제_R6M의 타입 : int64
IB문의건수_할부_R6M의 타입 : int64
IB문의건수_정보변경_R6M의 타입 : int64
IB문의건수_결제일변경_R6M의 타입 : int64
IB문의건수_명세서_R6M의 타입 : int64
IB문의건수_비밀번호_R6M의 타입 : int64
IB문의건수_SMS_R6M의 타입 : int64
IB문의건수_APP_R6M의 타입 : int64
IB문의건수_부대서비스_R6M의 타입 : int64
IB문의건수_포인트_R6M의 타입 : int64
IB문의건수_카드발급_R6M의 타입 : int64
IB문의건수_BL_R6M의 타입 : int64
IB문의건수_분실도난_R6M의 타입 : int64
IB문의건수_CA_R6M의 타입 : int64
IB문의건수_CL_RV_R6M의 타입 : int64
IB문의건수_CS_R6M의 타입 : int64
IB상담건수_VOC_R6M의 타입 : int64
IB상담건수_VOC민원_R6M의 타입 : int64
IB상담건수_VOC불만_R6M의 타입 : int64
IB상담건수_금감원_R6M의 타입 : int64
불만제기건수_B0M의 타입 : int64
불만제기건수_R12M의 타입 : int64
불만제기후경과월_R12M의 타입 : int64
당사PAY_방문횟수_B0M의 타입 : int64
당사PAY_방문횟수_R6M의 타입 : int64
당사PAY_방문월수_R6M의 타입 : int64
당사멤버쉽_방문횟수_B0M의 타입 : int64
당사멤버쉽_방문횟수_R6M의 타입 : int64
당사멤버쉽_방문월수_R6M의 타입 : int64
OS구분코드의 타입 : object
홈페이지_금융건수_R6M의 타입 : int64
홈페이지_선결제건수_R6M의 타입 : int64
홈페이지_금융건수_R3M의 타입 : int64
홈페이지_선결제건수_R3M의 타입 : int64

### 데이터 기초통계 확인

In [8]:
# object 타입의 데이터의 분포 확인
df_object = df1.select_dtypes(include = 'object')
df_object.describe(include = 'object')

,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,방문횟수_PC_R6M,방문일수_PC_R6M,방문횟수_앱_R6M,OS구분코드
count,2400000,2400000,2400000,2400000,2400000,2400000,766434
unique,400000,2,4,5,4,9,2
top,TRAIN_000000,1회 이상,1회 이상,1회 이상,1회 이상,1회 이상,Android
freq,6,2328933,2313787,2221841,2236992,2082674,594348

In [9]:
df_object.shape

(2400000, 7)

In [10]:
# 숫자형 컬럼만 선택
df_num = df1.select_dtypes(include='number')

# 숫자형 컬럼 통계 요약 보기
df_num.describe()

,기준년월,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,방문월수_PC_R6M,방문후경과월_PC_R6M,방문일수_앱_R6M,...,당사PAY_방문횟수_B0M,당사PAY_방문횟수_R6M,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M
count,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,...,2400000.0,2400000.0,2400000.0,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06,2.400000e+06
mean,2.018095e+05,8.690288e-01,5.484083e-01,7.018121e-01,1.276996e-01,3.196038e-01,1.044304e-01,4.768792e-01,5.397019e+00,3.879475e+00,...,0.0,0.0,0.0,1.396040e+00,1.140625e+01,5.885179e-01,7.375242e-01,9.763875e-01,4.067225e-01,5.264267e-01
std,1.707825e+00,1.946545e+00,1.190408e+00,1.483387e+00,5.015725e-01,1.245971e+00,4.229458e-01,1.507584e+00,1.696640e+00,1.004851e+01,...,0.0,0.0,0.0,6.566001e+00,4.581328e+01,1.692597e+00,2.114160e+00,3.130675e+00,1.187245e+00,1.700495e+00
min,2.018070e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.018080e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.018095e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.018110e+05,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.018120e+05,1.200000e+01,6.000000e+00,5.000000e+00,3.000000e+00,7.000000e+00,2.000000e+00,6.000000e+00,6.000000e+00,6.400000e+01,...,0.0,0.0,0.0,6.300000e+01,2.590000e+02,6.000000e+00,1.500000e+01,3.000000e+01,8.000000e+00,1.600000e+01

In [11]:
df_num.shape

(2400000, 98)

In [12]:
# 회원정보의 모든 칼럼 보기
for idx, val in enumerate(df1.columns) :
    print(f'{idx} {val}')

0 기준년월
1 ID
2 인입횟수_ARS_R6M
3 이용메뉴건수_ARS_R6M
4 인입일수_ARS_R6M
5 인입월수_ARS_R6M
6 인입후경과월_ARS
7 인입횟수_ARS_B0M
8 이용메뉴건수_ARS_B0M
9 인입일수_ARS_B0M
10 방문횟수_PC_R6M
11 방문일수_PC_R6M
12 방문월수_PC_R6M
13 방문후경과월_PC_R6M
14 방문횟수_앱_R6M
15 방문일수_앱_R6M
16 방문월수_앱_R6M
17 방문후경과월_앱_R6M
18 방문횟수_모바일웹_R6M
19 방문일수_모바일웹_R6M
20 방문월수_모바일웹_R6M
21 방문후경과월_모바일웹_R6M
22 방문횟수_PC_B0M
23 방문일수_PC_B0M
24 방문횟수_앱_B0M
25 방문일수_앱_B0M
26 방문횟수_모바일웹_B0M
27 방문일수_모바일웹_B0M
28 인입횟수_IB_R6M
29 인입횟수_금융_IB_R6M
30 인입일수_IB_R6M
31 인입월수_IB_R6M
32 이용메뉴건수_IB_R6M
33 인입후경과월_IB_R6M
34 인입횟수_IB_B0M
35 인입일수_IB_B0M
36 이용메뉴건수_IB_B0M
37 인입불만횟수_IB_R6M
38 인입불만일수_IB_R6M
39 인입불만월수_IB_R6M
40 인입불만후경과월_IB_R6M
41 인입불만횟수_IB_B0M
42 인입불만일수_IB_B0M
43 상담건수_B0M
44 IB문의건수_사용승인내역_B0M
45 IB문의건수_한도_B0M
46 IB문의건수_선결제_B0M
47 IB문의건수_결제_B0M
48 IB문의건수_할부_B0M
49 IB문의건수_정보변경_B0M
50 IB문의건수_결제일변경_B0M
51 IB문의건수_명세서_B0M
52 IB문의건수_비밀번호_B0M
53 IB문의건수_SMS_B0M
54 IB문의건수_APP_B0M
55 IB문의건수_부대서비스_B0M
56 IB문의건수_포인트_B0M
57 IB문의건수_카드발급_B0M
58 IB문의건수_BL_B0M
59 IB문의건수_분실도난_B0M
60 IB문의건수_CA_B0M
61 IB문의건수_CL_RV_B0M
62 IB문의건수_CS_B0M
63 IB상담건수_VOC_B0M
64 IB상담건수_VOC민원_B0M
65 IB상담건수_VOC불만_B0M
66 IB상담건수_금감원_B0M
67 상담건수_R6M
68 IB문의건수_사용승인내역_R6M
69 IB문의건수_한도_R6M
70 IB문의건수_선결제_R6M
71 IB문의건수_결제_R6M
72 IB문의건수_할부_R6M
73 IB문의건수_정보변경_R6M
74 IB문의건수_결제일변경_R6M
75 IB문의건수_명세서_R6M
76 IB문의건수_비밀번호_R6M
77 IB문의건수_SMS_R6M
78 IB문의건수_APP_R6M
79 IB문의건수_부대서비스_R6M
80 IB문의건수_포인트_R6M
81 IB문의건수_카드발급_R6M
82 IB문의건수_BL_R6M
83 IB문의건수_분실도난_R6M
84 IB문의건수_CA_R6M
85 IB문의건수_CL_RV_R6M
86 IB문의건수_CS_R6M
87 IB상담건수_VOC_R6M
88 IB상담건수_VOC민원_R6M
89 IB상담건수_VOC불만_R6M
90 IB상담건수_금감원_R6M
91 불만제기건수_B0M
92 불만제기건수_R12M
93 불만제기후경과월_R12M
94 당사PAY_방문횟수_B0M
95 당사PAY_방문횟수_R6M
96 당사PAY_방문월수_R6M
97 당사멤버쉽_방문횟수_B0M
98 당사멤버쉽_방문횟수_R6M
99 당사멤버쉽_방문월수_R6M
100 OS구분코드
101 홈페이지_금융건수_R6M
102 홈페이지_선결제건수_R6M
103 홈페이지_금융건수_R3M
104 홈페이지_선결제건수_R3M

### 0_기준년월

In [13]:
df1['기준년월'].value_counts()

기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64

- 분석에 의미는 없는 것 같다.

### 1_ID

In [14]:
# 데이터
sum(df1['ID'].value_counts() != 1)

400000

- ID의 경우에는 분석 및 학습에 도움되지 않는다.
- 단, 제출 시 필요하기 때문에 나중에 변수에 저장해 두자.

### 2_인입횟수_ARS_R6M
- 최근 6개월간 고객이 ARS에 전화한 횟수

In [15]:
df1['인입횟수_ARS_R6M'].value_counts()

인입횟수_ARS_R6M
1회 이상     2328933
10회 이상      71067
Name: count, dtype: int64

In [16]:
# 문자열 제거하고 숫자만 추출해서 새로운 컬럼 만들기 (예: '10회 이상' → 10)
# 만약 원본이 이미 깨져 있다면, 아래처럼 정제해야 함

# 예시 (전처리된 컬럼이라 가정할 경우)
df1['인입횟수_ARS_R6M_num'] = (
    df1['인입횟수_ARS_R6M']
    .str.extract(r'(\d+)')      # 숫자만 추출
    .astype(float)              # 숫자형으로 변환
)

# 정제된 컬럼으로 분석
total_count = len(df1)
count_1_to_9 = ((df1['인입횟수_ARS_R6M_num'] >= 1) & (df1['인입횟수_ARS_R6M_num'] < 10)).sum()
count_10_or_more = (df1['인입횟수_ARS_R6M_num'] >= 10).sum()

ratio_1_to_9 = count_1_to_9 / total_count
ratio_10_or_more = count_10_or_more / total_count
ratio_diff = ratio_1_to_9 - ratio_10_or_more

print(f"✅ 1~9회 ARS 이용 비율: {ratio_1_to_9:.2%}")
print(f"✅ 10회 이상 ARS 이용 비율: {ratio_10_or_more:.2%}")
print(f"📊 두 비율 차이: {ratio_diff:.2%}")

✅ 1~9회 ARS 이용 비율: 97.04%
✅ 10회 이상 ARS 이용 비율: 2.96%
📊 두 비율 차이: 94.08%

- ARS를 6개월 내에 이용한 고객 중 ARS를 10회 이상 이용한 비율이 2.96%

### 3_이용메뉴건수_ARS_R6M
- 고객이 최근 6개월간 ARS를 통해 이용한 기능/서비스 메뉴의 총 건수

In [17]:
df1['이용메뉴건수_ARS_R6M'].value_counts()

이용메뉴건수_ARS_R6M
1회 이상     2313787
10회 이상      70027
30회 이상      10172
20회 이상       6014
Name: count, dtype: int64

In [18]:
# 주어진 값
data = {
    'label': ['1회 이상', '10회 이상', '20회 이상', '30회 이상'],
    'count': [2313787, 70027, 6014, 10172]
}

df = pd.DataFrame(data)

# 전체 합계
total = df['count'].sum()

# 비율 계산
df['ratio'] = df['count'] / total
df['ratio_percent'] = (df['ratio'] * 100).round(2).astype(str) + '%'

# 출력
print(df)

    label    count     ratio ratio_percent
0   1회 이상  2313787  0.964078        96.41%
1  10회 이상    70027  0.029178         2.92%
2  20회 이상     6014  0.002506         0.25%
3  30회 이상    10172  0.004238         0.42%

In [19]:
# ARS 인입 1회당 평균 메뉴 수
# 숫자만 추출해서 새 컬럼 만들기 (문자열에서 숫자만 뽑음)
df1['인입횟수_ARS_R6M_num'] = df1['인입횟수_ARS_R6M'].str.extract(r'(\d+)').astype(int)

# 이용메뉴건수도 같은 방식이라면 숫자만 뽑아야 함
df1['이용메뉴건수_ARS_R6M_num'] = df1['이용메뉴건수_ARS_R6M'].str.extract(r'(\d+)').astype(int)

# 이제 숫자로 된 컬럼으로 평균 메뉴 수 계산 후 정수 변환
df1['ARS_인입당_메뉴수'] = (df1['이용메뉴건수_ARS_R6M_num'] / (df1['인입횟수_ARS_R6M_num'] + 1e-5)).round().astype(int)

# 전체 고객 대상 계산
mean_val = df1['ARS_인입당_메뉴수'].mean()
min_val = df1['ARS_인입당_메뉴수'].min()
max_val = df1['ARS_인입당_메뉴수'].max()

print(f"ARS 인입 1회당 평균 메뉴 수: {mean_val:.2f}")
print(f"ARS 인입 1회당 최소 메뉴 수: {min_val}")
print(f"ARS 인입 1회당 최대 메뉴 수: {max_val}")

ARS 인입 1회당 평균 메뉴 수: 1.08
ARS 인입 1회당 최소 메뉴 수: 0
ARS 인입 1회당 최대 메뉴 수: 30

In [20]:
# ARS_인입당_메뉴수가 최대값인 사람
max_val = df1['ARS_인입당_메뉴수'].max()
max_rows = df1[df1['ARS_인입당_메뉴수'] == max_val]

print(f"최대 ARS 인입당 메뉴수: {max_val}인 고객 정보:")
display (max_rows)

최대 ARS 인입당 메뉴수: 30인 고객 정보:

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,인입횟수_ARS_R6M_num,이용메뉴건수_ARS_R6M_num,ARS_인입당_메뉴수
2031468,201812,TRAIN_031468,1회 이상,30회 이상,8,0,0,2,5,2,...,4,6,Android,0,0,0,0,1,30,30
2067160,201812,TRAIN_067160,1회 이상,30회 이상,7,2,2,0,5,2,...,0,0,None,3,12,3,5,1,30,30
2068969,201812,TRAIN_068969,1회 이상,30회 이상,10,2,0,2,5,2,...,0,0,None,0,0,0,0,1,30,30
2102669,201812,TRAIN_102669,1회 이상,30회 이상,8,6,0,2,5,2,...,0,0,None,0,0,0,0,1,30,30
2106260,201812,TRAIN_106260,1회 이상,30회 이상,10,6,0,2,5,2,...,0,0,Android,8,9,4,5,1,30,30
2183527,201812,TRAIN_183527,1회 이상,30회 이상,8,6,0,3,6,2,...,0,0,Android,3,3,0,0,1,30,30
2194697,201812,TRAIN_194697,1회 이상,30회 이상,8,6,0,2,5,2,...,0,0,None,0,0,0,0,1,30,30
2227720,201812,TRAIN_227720,1회 이상,30회 이상,12,6,0,2,5,2,...,0,0,None,0,0,0,0,1,30,30
2251133,201812,TRAIN_251133,1회 이상,30회 이상,12,6,1,0,5,2,...,0,0,Android,0,0,0,0,1,30,30
2261241,201812,TRAIN_261241,1회 이상,30회 이상,10,6,0,2,5,2,...,172,6,Android,0,0,0,0,1,30,30
2328528,201812,TRAIN_328528,1회 이상,30회 이상,10,6,1,0,5,0,...,0,0,IOS,0,11,0,6,1,30,30
2347159,201812,TRAIN_347159,1회 이상,30회 이상,11,2,2,0,5,2,...,0,0,Android,8,6,4,3,1,30,30
2348258,201812,TRAIN_348258,1회 이상,30회 이상,12,2,0,2,5,2,...,157,6,Android,0,0,0,0,1,30,30
2382841,201812,TRAIN_382841,1회 이상,30회 이상,8,2,0,2,5,2,...,0,0,None,0,0,0,0,1,30,30

- 6개월 동안 ARS를 1회 이상 이용한 고객 중 메뉴를 30개 이상 누른 사람은 **14명** 이다.

### 4_인입일수_ARS_R6M

In [21]:
# 인입일수_ARS_R6M의 도수분포를 확인한다.
df1['인입일수_ARS_R6M'].value_counts()

인입일수_ARS_R6M
0     1683964
1      266478
2      200257
3       74634
4       39222
5       26364
6       21823
8       20994
9       19334
7       19244
10      15987
12       9904
11       1795
Name: count, dtype: int64

In [22]:
# 인입일수가 0인 경우에는 계산할 수 없기 때문에 NaN으로 처리
# 그 외에는 인입일수 기준으로 하루 평균 인입횟수와 메뉴 이용 수를 계산

df1['ARS_일당_인입횟수'] = np.where(
    df1['인입일수_ARS_R6M'] == 0,                             # 인입일수가 0이면
    np.nan,                                                  # NaN 처리
    df1['인입횟수_ARS_R6M_num'] / df1['인입일수_ARS_R6M']     # 아니면 인입횟수 ÷ 인입일수
)

df1['ARS_일당_메뉴수'] = np.where(
    df1['인입일수_ARS_R6M'] == 0,                             # 인입일수가 0이면
    np.nan,                                                  # NaN 처리
    df1['이용메뉴건수_ARS_R6M_num'] / df1['인입일수_ARS_R6M'] # 아니면 메뉴건수 ÷ 인입일수
)

# 📊 계산된 컬럼들의 요약 통계 출력 (평균, 중앙값, 최소/최대 등)
display(df1[['ARS_일당_인입횟수', 'ARS_일당_메뉴수']].describe())

         ARS_일당_인입횟수     ARS_일당_메뉴수
count  716036.000000  716036.000000
mean        0.685502       0.765935
std         0.336625       0.540347
min         0.083333       0.111111
25%         0.500000       0.500000
50%         0.500000       0.500000
75%         1.000000       1.000000
max         2.500000      10.000000

- **평균이 0.69, 0.77**: 하루에 한 번 전화(또는 메뉴 이용)가 안 되는 경우도 많고, 보통 하루에 0.5~1회 정도 인입과 메뉴 이용이 있다.
- **최소값 0.08~0.11**: 일당 평균 전화, 메뉴 이용이 거의 없는 수준 (예: 6개월 중 12~9일 정도만 ARS 이용)
- **최대값 2.5, 10**: 어떤 고객은 하루에 2~10번까지 전화하거나 메뉴를 누른 적도 있다는 뜻으로, 이런 고객은 집중적으로 ARS를 이용함

In [23]:
# 각각의 최대값 구하기
max_call = df1['ARS_일당_인입횟수'].max()
max_menu = df1['ARS_일당_메뉴수'].max()

# 최대값 가진 고객 추출
max_call_users = df1[df1['ARS_일당_인입횟수'] == max_call]
max_menu_users = df1[df1['ARS_일당_메뉴수'] == max_menu]

# 결과 확인
display("ARS_일당_인입횟수 최대값 고객 정보:")
display(max_call_users)

display("ARS_일당_메뉴수 최대값 고객 정보:")
display(max_menu_users)

'ARS_일당_인입횟수 최대값 고객 정보:'

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,인입횟수_ARS_R6M_num,이용메뉴건수_ARS_R6M_num,ARS_인입당_메뉴수,ARS_일당_인입횟수,ARS_일당_메뉴수
2328641,201812,TRAIN_328641,10회 이상,10회 이상,4,2,0,2,5,2,...,None,0,0,0,0,10,10,1,2.5,2.5
2399170,201812,TRAIN_399170,10회 이상,20회 이상,4,2,1,0,0,0,...,Android,11,10,6,6,10,20,2,2.5,5.0

'ARS_일당_메뉴수 최대값 고객 정보:'

,기준년월,ID,인입횟수_ARS_R6M,이용메뉴건수_ARS_R6M,인입일수_ARS_R6M,인입월수_ARS_R6M,인입후경과월_ARS,인입횟수_ARS_B0M,이용메뉴건수_ARS_B0M,인입일수_ARS_B0M,...,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M,인입횟수_ARS_R6M_num,이용메뉴건수_ARS_R6M_num,ARS_인입당_메뉴수,ARS_일당_인입횟수,ARS_일당_메뉴수
2001297,201812,TRAIN_001297,1회 이상,10회 이상,1,2,5,0,5,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2001878,201812,TRAIN_001878,1회 이상,10회 이상,1,2,2,0,0,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2003928,201812,TRAIN_003928,1회 이상,10회 이상,1,2,5,0,5,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2005205,201812,TRAIN_005205,1회 이상,10회 이상,1,2,0,2,5,1,...,None,0,0,0,0,1,10,10,1.0,10.0
2007269,201812,TRAIN_007269,1회 이상,10회 이상,1,2,5,0,5,0,...,None,0,0,0,0,1,10,10,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392669,201812,TRAIN_392669,1회 이상,10회 이상,1,2,5,0,0,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2394825,201812,TRAIN_394825,1회 이상,10회 이상,1,2,4,0,0,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2396111,201812,TRAIN_396111,1회 이상,10회 이상,1,6,5,0,0,0,...,None,0,0,0,0,1,10,10,1.0,10.0
2396232,201812,TRAIN_396232,1회 이상,10회 이상,1,2,5,0,0,0,...,Android,8,6,4,2,1,10,10,1.0,10.0
2398777,201812,TRAIN_398777,1회 이상,10회 이상,1,2,5,0,5,0,...,Android,0,0,0,0,1,10,10,1.0,10.0

- 6개월 동안 ARS를 가장 다양한 일자에 이용한 고객은 총 2명이며, 이들은 ARS를 4일에 걸쳐 이용하였다.
- 하루 동안 가장 많은 메뉴를 이용한 고객은 총 10개 이상의 메뉴를 사용하였다.

### 5_인입월수_ARS_R6M
- 최근 6개월 동안 ARS에 전화를 건 월(月)의 개수

In [26]:
df1['인입월수_ARS_R6M'].value_counts()

인입월수_ARS_R6M
0    1696515
1     410652
2     208764
6      78256
3       4967
4        667
5        179
Name: count, dtype: int64

In [30]:
# ✅ 인입횟수 있는 사람만 대상으로 인입월수 비율 계산
df1['ARS_인입월_비율'] = np.where(
    df1['인입횟수_ARS_R6M_num'] > 0,
    df1['인입월수_ARS_R6M'] / 6,
    np.nan  # 인입 안 한 고객은 비율 계산 제외
)

# ✅ 결과 요약 통계 출력
print("📊 ARS 인입월 비율 통계 (인입한 고객만 대상):")
print(df1['ARS_인입월_비율'].describe())

📊 ARS 인입월 비율 통계 (인입한 고객만 대상):
count    2.400000e+06
mean     9.140139e-02
std      1.984013e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.666667e-01
max      1.000000e+00
Name: ARS_인입월_비율, dtype: float64

In [ ]:
df1['회원여부_이용가능'].value_counts()/df1.shape[0]

- 17180명의 회원이 블랙리스트로 등록되어 있다. (전체의 약 4%에 해당하는 수)

### 6_회원여부_이용가능_CA

In [ ]:
df1['회원여부_이용가능_CA'].value_counts()

In [ ]:
df1['회원여부_이용가능_CA'].value_counts()/df1.shape[0]

- 현금서비스 이용이 불가능한 회원의 수는 44944 (전체의 약 11%에 해당하는 수)

In [ ]:
# 블랙리스트인 회원 중 현금 서비스 이용이 가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(cond1 & cond2)

In [ ]:
# 블랙리스트가 아닌 회원 중 현금 서비스 이용이 가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(~cond1 & cond2)

In [ ]:
# 블랙리스트인 회원 중 현급 서비스 이용이 불가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(cond1 & ~cond2)

In [ ]:
# 블랙리스트가 아닌 회원 중 현급 서비스 이용이 불가능한 회원이 있는지 확인한다.
cond1 = df1['회원여부_이용가능'] == 0
cond2 = df1['회원여부_이용가능_CA'] == 1
sum(~cond1 & ~cond2)